.product-swiper {
  width: 100%;
  .swiper-wrapper {
    z-index: 20;
    position: relative;
    background-color: transparent;
  }
  .swiper-slide {
    padding: 2px 0;
    position: relative;
    z-index: 10;
  }
  .item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .swiper-pagination {
    position: relative;
    transform: translateY(-20px);
  }
}
