.btn {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  border: 0;
}

.btn-primary {
  background-color: $primary;
  transition: all 0.3s ease;
  &:hover {
    color: $black;
    background-color: $strong-primary;
  }
}

.btn-secondary {
  background-color: $dark;
  transition: background-color 0.3s ease;
  color: $white;
  &:hover {
    background-color: $black;
  }
}
