.btn {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  border: 0;
}

.btn-primary {
  background-color: $primary;
  transition: all 0.3s ease;
  &:hover {
    color: $black;
    background-color: $strong-primary;
  }
}

.btn-secondary {
  background-color: $dark;
  transition: background-color 0.3s ease;
  color: $white;
  &:hover {
    background-color: $black;
  }
}

#top-btn {
  position: fixed;
  background-color: $primary;
  opacity: 0.6;
  color: $white;
  cursor: pointer;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  font-size: 1.5rem;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: none;
  &:hover {
    opacity: 1;
  }
  &.block {
    display: block;
  }
}
