.card-product {
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  .product-container {
    padding: 15px;
    background-color: $white;
  }
  .tag {
    font-size: 12px;
    color: #999;
    transition: color 0.2s ease;
    &:hover {
      color: #333;
    }
  }
  .img-wrapper {
    img {
      max-width: 300px;
      max-height: 300px;
      height: auto;
    }
  }
  .product-title {
    display: block;
    height: 40px;
    overflow: hidden;
    a {
      display: block;
      font-size: 1rem;
      line-height: 1.4;
      color: #0062bd;
      font-weight: 700;
    }
  }
  .price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
    background-color: $white;
    .price {
      font-size: 20px;
      line-height: 1;
      color: #343f49;
      display: block;
      width: calc(100% - 35px);
      box-sizing: border-box;
      padding-right: 15px;
      ins {
        color: $danger;
        display: inline-block;
      }
      del {
        font-size: 12px;
        color: #999;
        display: inline-block;
        margin-left: 5px;
      }
    }
    .cart-btn {
      font-size: 1.1rem;
      font-weight: 700;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      color: $white;
      background-color: #ddd;
      transition: background-color 0.3s ease;
    }
  }
  .hover-wrap {
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.2),
      -1px 4px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: $white;

    a {
      font-size: 12px;
      color: #999;
      transition: color 0.2s ease;
      &:hover {
        color: #333;
      }
    }
    .wishlist {
      position: relative;
      &::before {
        content: "\f004";
        font-family: "Font Awesome 5 Free";
        margin-right: 5px;
      }
    }
    .compare {
      position: relative;
      &::before {
        content: "\e61b";
        font-family: "Pe-icon-7-stroke";
        margin-right: 5px;
        font-weight: bold;
        font-size: 1rem;
        vertical-align: middle;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 30px);
      height: 0;
      border-top: 1px solid #ddd;
      display: block;
    }
  }
  &:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    background-color: $white;
    .hover-wrap {
      opacity: 1;
      visibility: visible;
    }
    .price-wrap {
      .cart-btn {
        background-color: $primary;
      }
    }
  }
  .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 75px));
    grid-gap: 1rem;
    .img-wrapper {
      border: 1px solid #ddd;
      &:hover {
        border-bottom: 2px solid $primary;
      }
    }
  }
  &.large-card {
    .img-wrapper {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.swiper-slide {
  .card-product {
    width: 100%;
  }
}
