form {
  .form-group-btn:last-child {
    display: flex;
    .form-control:first-child {
      border-radius: 2em;
      display: block;
      width: 100%;
      border: 0;
      font-size: 1rem;
      padding-left: 30px;
      height: 40px;
      box-sizing: border-box;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: $white;
    }
    .btn {
      border-radius: 2em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 0;
      height: 40px;
      box-sizing: border-box;
    }
  }
}
