section.signup {
  background: $primary;
  padding: 1rem 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content {
      color: $dark-knight;
      flex: 1;
      h3 {
        font-size: 20px;
        font-weight: 400;
        display: inline-block;
        i {
          font-size: 30px;
          margin-right: 10px;
        }
      }
      span {
        margin-left: 30px;
      }
    }
    form {
      flex: 1;
      padding-left: 60px;
      input {
        color: #818181;
        &::placeholder {
          color: #818181;
        }
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  section.signup {
    .container {
      .content {
        h3 {
          display: block;
          margin-bottom: 0.5rem;
        }
        span {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  section.signup {
    .container {
      flex-direction: column;
      .content {
        flex: 1;
        margin-bottom: 1rem;
      }
      form {
        flex: 1;
        padding-left: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  section.signup {
    display: none;
  }
}
