.text-center {
  text-align: center !important;
}

.text-danger {
  color: $danger !important;
}

.text-primary {
  color: $primary !important;
}

.section-head {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .section-title {
    font-size: 22px;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #ddd;
      bottom: 0;
      left: 0;
      z-index: 5;
    }
    &::before {
      content: "";
      position: absolute;
      width: 40%;
      min-width: 100px;
      max-width: 200px;
      height: 2px;
      background-color: $primary;
      bottom: 0;
      left: 0;
      z-index: 10;
    }
  }
  .nav {
    .nav-item {
      display: inline-block;
      margin-right: 5px;
    }
    .nav-link {
      padding: 0.4em 1em;
      display: block;
      border-radius: 2em;
      line-height: 1;
      color: #7b8186;
      font-size: 15px;
      &.active {
        border: 2px solid $primary;
      }
    }
  }
}
