.btn-action {
  font-size: 14px;
  padding: 0.8em 2em;
  background-color: $white;
  color: $primary;
  font-weight: $normal-weight;
  border: 1px solid $white;
  border-radius: 30px;
  line-height: 1;
  font-family: "Montserrat";
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    background-color: transparent;
    color: $white;
  }
}

#top-btn {
  background-color: #696969;
  color: $white;
  position: fixed;
  transition: background-color 0.3s ease;
  bottom: -5px;
  right: 60px;
  z-index: 99;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
  opacity: 0.95;
  border-radius: 3px;
  font-size: 0.8rem;
  &:hover {
    background-color: $primary;
  }
  &.block {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #top-btn {
    bottom: 15px;
  }
}
