.header-banner {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 5;
  background: url("../images/home_slider.webp") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 580px;
  .banner-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 2rem;
    box-sizing: border-box;
  }
}
