#rsvp {
  background: url("../images/rsvp_bg.webp") no-repeat center center;
  background-size: cover;
  .section-title {
    color: $white;
    &::before {
      background-color: $white;
    }
  }
  .rsvp-form {
    width: 70%;
    min-width: 200px;
    margin: 2rem auto;
    background: $white;
    box-sizing: border-box;
    padding: 2rem;

    .form-group {
      margin-bottom: 1.5rem;
      position: relative;
      .icon-wrapper {
        position: absolute;
        right: 0;
        top: 1px;
        width: 48px;
        height: calc(100% - 2px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        border: 1px solid #a9a9a9;
        border-bottom: 0;
        border-top: 0;
        box-sizing: border-box;
        background-color: $white;
      }
      .form-control {
        display: block;
        width: 100%;
        border: 1px solid #a9a9a9;
        font-size: 13px;
        padding: 1rem 0.5rem;
        box-sizing: border-box;
        color: #a9a9a9;
        &::placeholder {
          color: #a9a9a9;
          font-family: "Merriweather";
        }
      }

      textarea {
        @extend .form-control;
        padding: 0.2rem 0.5rem;
        resize: vertical;
        height: 150px;
      }
      #attend {
        background-color: $white;
      }
    }
    .submit-btn {
      width: 100%;
      padding: 1rem 0;
      display: block;
      background-color: $danger;
      text-transform: uppercase;
      text-align: center;
      color: $white;
      font-size: 18px;
      font-family: "Montserrat";
      transition: background-color 0.3s ease;
      &:hover {
        cursor: pointer;
        background-color: $primary;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #rsvp {
    .rsvp-form {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  #rsvp {
    .rsvp-form {
      padding: 1rem;
    }
  }
}
