#timings {
  .timeline {
    width: 65.66%;
    margin: 6rem auto 0 auto;
    position: relative;
    min-height: 100px;
    .dropdown-menu {
      padding-top: 6rem;
    }
    .dot {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: 2rem 0;
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: $light;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        z-index: 20;
      }
      .card {
        width: 40%;
        box-shadow: 0 2px 0 0 $light;
        position: relative;
        &.left::after {
          content: "";
          position: absolute;
          bottom: 5%;
          right: -20px;
          border: 10px solid transparent;
          border-left-color: $light;
        }
        &.right::before {
          content: "";
          position: absolute;
          bottom: 5%;
          left: -20px;
          border: 10px solid transparent;
          border-right-color: $light;
        }
        .img-wrapper {
          &:hover {
            .overlay {
              opacity: 1;
            }
          }
          .overlay-link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            z-index: 10;
            background: transparent;
          }
          .overlay {
            z-index: 9;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #b9655ec5;
            opacity: 0;
            transition: opacity 0.3s ease;
            a {
              color: $white;
              font-size: 1.2rem;
              &.link-btn {
                display: inline-block;
                margin-right: 1.5rem;
              }
            }
          }
        }
        .card-body {
          border: 1px solid $light;
          font-size: 20px;
        }
        .time-text {
          transition: color 0.3s ease;
          &:hover {
            color: $primary;
          }
        }
      }
    }
    .line-wrapper {
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 0;
      border: 1px solid $light;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      z-index: 10;
      .icon {
        position: absolute;
        top: -39px;
        left: 50%;
        transform: translateX(-48%);
        font-size: 3rem;
        color: $light;
      }
      .time {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-48%);
        background-color: $light;
        width: 120px;
        text-align: center;
      }
    }
  }
  .banner {
    background: url("../images/countdown_bkgd.jpg") no-repeat center center;
    background-size: cover;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    .date {
      font-size: 18px;
      color: #cbe5ea;
      line-height: 1;
      font-weight: bold;
    }
    .link {
      font-size: 18px;
      transition: color 0.3s ease;
      &:hover {
        color: #ebb6b0;
      }
    }
  }
  .countdown-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: $white;
    .unit-wrapper {
      background-color: $white;
      padding: 0.8rem 1.2rem;
      line-height: 1;
      border-radius: 5px;
      color: #7e8890;
      margin: 0 0.5rem;
      font-size: 18px;
    }
  }
}
