section.bestseller {
  .banner-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-gap: 2rem;
    .img-wrapper {
      img {
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  section.bestseller {
    .banner-grid {
      grid-template-columns: 1fr;
    }
  }
}
