#header {
  background-color: $white;
  position: relative;
  z-index: 100;
  transition: all 0.3s ease;
  .mb-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #434343;
    display: none;
  }
  .mb-nav-toggle {
    font-size: 20px;
    margin-left: 15px;
    display: none;
    line-height: 1;
    box-sizing: border-box;
    padding-top: 3px;
  }
  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.15);
    .nav-link {
      height: 80px;
      line-height: 80px;
    }
    .setting-toggle {
      & > i {
        height: 80px;
        line-height: 80px;
      }
    }
  }
  .nav-link {
    height: 85px;
    line-height: 85px;
    transition: height 0.3s ease;
  }
  .logo-wrapper {
    display: block;
    width: 150px;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dropdown-handle {
    position: relative;
    & > .nav-link::after {
      content: "\f107";
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      margin-left: 5px;
    }
    &:hover {
      .dropdown-content {
        transform: scaleY(1) translateX(-50%);
        top: 100%;
      }
    }
  }
  .header-nav {
    .nav-item {
      margin: 0 1rem;
    }
    .nav-link {
      display: block;
      font-weight: 700;
      font-size: 12px;
      transition: color 0.3s ease;
      &.active,
      &:hover {
        color: $primary;
      }
    }
  }
  .header-interact {
    display: flex;
    align-items: center;
  }
  .search-form {
    padding-left: 10px;
    border-left: 1px solid #ddd;
    align-items: center;
    padding: 2px 0;
    .form-group {
      display: flex;
    }
    .submit-btn {
      background-color: transparent;
      cursor: pointer;
      font-size: 15px;
      &:hover {
        color: $primary;
      }
    }
    .form-control {
      border: 0;
      color: #91959b;
      padding-left: 10px;
      &::placeholder {
        color: inherit;
      }
    }
  }
  .header-cart,
  .setting-toggle {
    display: block;
    position: relative;
    font-size: 16px;
    margin-left: 2rem;
    i {
      font-weight: bold;
    }
  }
  .header-cart {
    &:hover {
      color: $dark-knight;
    }
    .price {
      margin-left: 10px;
      color: $primary;
      font-weight: bold;
      font-size: 1rem;
    }
    .badge {
      display: block;
      position: absolute;
      color: $white;
      font-size: 13px;
      background-color: $primary;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      bottom: 7px;
      left: 11px;
    }
  }
  .dropdown-content {
    padding: 1rem;
    box-shadow: 0 3px 9.3px 0.7px rgba(0, 0, 0, 0.15);
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    transform: scaleY(0) translateX(-50%);
    transform-origin: top;
    left: -20%;
    background-color: $white;
    border-radius: 4px;
    li {
      display: block;
    }
    .col-title {
      margin-bottom: 1rem;
      a {
        font-size: 15px;
      }
    }
    .menu-link {
      display: block;
      line-height: 2.2;
      &:hover {
        transform: translateX(10px);
      }
    }
    .col {
      min-width: 150px;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  .setting-toggle {
    & > i {
      height: 85px;
      line-height: 85px;
      transition: height 0.3s ease;
    }
    position: relative;
    .dropdown-content {
      display: block;
      font-size: 13px;
      strong {
        display: block;
        margin-top: 10px;
      }
      ul {
        display: flex;
        flex-direction: column;
        li {
          min-width: 150px;
          display: block;
          &:not(:last-child) {
            border-bottom: 1px solid #ddd;
          }
          a {
            line-height: 2.5;
            display: block;
            font-size: 13px;
          }
        }
      }
    }
  }
}

#mb-nav {
  top: 100%;
  width: 100%;
  background-color: #434343;
  .nav-list {
    display: block;
    width: 100%;
  }
  a {
    padding: 7px 15px;
    color: $white;
    line-height: 2;
    display: block;
    &.active,
    &:hover {
      color: $primary;
    }
  }
  li {
    display: block;
  }
  .list-link {
    display: flex;
    justify-content: space-between;
  }
  .dropdown-toggle {
    .fa-minus {
      display: none;
    }
    &.on-open {
      .fa-plus {
        display: none;
      }
      .fa-minus {
        display: inline;
      }
    }
  }
  .dropdown-menu {
    padding-left: 16px;
  }
}

@media screen and (max-width: 1000px) {
  #header {
    .nav-link {
      height: 75px;
      line-height: 75px;
    }
    .setting-toggle {
      & > i {
        height: 75px;
        line-height: 75px;
      }
      .dropdown-content {
        left: -40px;
      }
    }
    .mb-container {
      display: block;
    }
    .mb-nav-toggle {
      display: block;
    }
    .header-nav {
      display: none;
    }
    &.sticky {
      position: relative !important;
    }
  }
}

@media screen and (max-width: 650px) {
  #header {
    margin-bottom: 50px;
    padding: 0 10px;
    .logo-wrapper {
      width: 120px;
    }
    .search-form {
      position: absolute;
      z-index: 50;
      top: 100%;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 0;
      background-color: #434343;
      height: 50px;
      .form-group {
        height: 100%;
        align-items: center;
        box-sizing: border-box;
        padding: 0 20px;
        .form-control {
          width: 100%;
          background-color: transparent;
        }
      }
      .submit-btn {
        color: $white;
      }
    }
    .header-cart {
      .price {
        display: none;
      }
    }
  }
}
