section.mostview {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  section.mostview {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 426px) {
  section.mostview {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
}
