section.product {
  .sevice-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 0;
    border-radius: 3px;
    border: 1px solid #ddd;
    .service {
      display: flex;
      align-items: center;
      padding-left: 50px;
      padding-right: 20px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:not(:last-child) {
        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: #ddd;
          z-index: 5;
          top: 0;
          right: 0;
        }
      }
      .service-content {
        padding-top: 10px;
        margin-left: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h3,
      p {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      h3 {
        margin-bottom: 5px;
      }
      p {
        color: #91959b;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  section.product {
    .sevice-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
  }
}

@media screen and (max-width: 550px) {
  section.product {
    .sevice-grid {
      grid-template-columns: 1fr;
      .service {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
