.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  max-width: 1300px;
}

.section-p {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.flexbox {
  display: flex;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 426px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
