section#accessories {
  .accessory-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  .item {
    padding: 0 1.5rem;
    img {
      width: 100%;
      height: auto;
      margin-bottom: 1.5rem;
    }
    .btn-secondary {
      margin-top: 1.2rem;
    }
  }
}
