.header-banner {
  background: url("../images/slide_product_bg.png") no-repeat center center;
  background-size: cover;
  color: $white;
  overflow: hidden;
  position: relative;
  height: 70vw;
  min-height: 550px;
  max-height: 702px;
  box-sizing: border-box;
  position: relative;
  .img-wrapper {
    position: absolute;
    top: -20px;
    left: 50%;
    max-width: 760px;
    width: 80%;
  }
  .watch_img {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: relative;
    z-index: 10;
  }
  .shape-img {
    width: 450px;
  }
  .glow_shape_1 {
    position: absolute;
    z-index: 5;
    bottom: -200px;
    left: 40%;
  }

  .glow_shape_2 {
    position: absolute;
    left: 70%;
    bottom: 50px;
    z-index: 5;
  }

  .glow_shape_3 {
    position: absolute;
    top: -100px;
    left: 50%;
  }

  .banner-content {
    width: 40%;
    padding-left: 11%;
    margin-top: 200px;
    position: relative;
    z-index: 10;
    .banner-title {
      font-size: 6vw;
      line-height: 1;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
    .banner-desc {
      font-size: 1.5rem;
      margin-top: 0rem;
      margin-bottom: 1.2rem;
    }
  }
  #watch_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    div {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header-banner {
    .shape-img {
      width: 350px;
    }
    .img-wrapper {
      width: 70%;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-banner {
    .banner-content {
      .banner-title {
        font-size: 46px;
      }
      .banner-desc {
        font-size: 1.2rem;
      }
    }
    .shape-img {
      width: 300px;
    }
  }
}

@media screen and (max-width: 560px) {
  .header-banner {
    .banner-content {
      width: 100%;
      padding-left: 0;
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: center;
      margin-top: 50px;
      z-index: 20;
      box-sizing: border-box;
    }
    .img-wrapper {
      width: 100%;
      top: 180px;
      left: 30%;
    }
    .shape-img {
      width: 380px;
    }
    .glow_shape_1 {
      left: -100px;
      top: unset;
      bottom: -50px;
    }
    .glow_shape_2 {
      top: -200px;
      bottom: unset;
      left: 10%;
    }
    .glow_shape_3 {
      top: unset;
      bottom: 20px;
      left: 72%;
    }
  }
}
