$black: #333;
$primary: #3bafbf;
$strong-primary: #00a8bf;
$light-primary: rgba(59, 176, 191, 0.5);
$white: #ffffff;
$light: #f7f7f7;
$blue: #327ec7;
$light-blue: #3697c3;
$black-knight: #333c4e;
$gray: #747474;
$fb-color: #3b5998;
$twitter-color: #55acee;
$instagram-color: #3f729b;
$pinterest-color: #bd081c;
$linkedIn-color: #0077b5;
$paypal-color: #003087;

$spacer: 17px;
$space0: 0;
$space1: $spacer * 0.5;
$space2: $spacer;
$space3: $spacer * 1.5;
$space4: $spacer * 2;
$space5: $spacer * 2.5;
