.badge-container {
  position: relative;
  .badge-text {
    position: absolute;
    z-index: 20;
    color: $white;
    background-color: $dark;
    padding: 3px 6px;
    font-size: 8px;
    line-height: 1;
    top: -15px;
    right: -20px;
    &::before {
      content: "";
      position: absolute;
      top: 60%;
      left: 20%;
      transform: translateX(-50%);
      border: transparent 5px solid;
      border-left-color: $dark;
      z-index: -1;
    }
    &.danger-badge {
      background-color: $danger;
      &::before {
        border-left-color: $danger;
      }
    }
    &.primary-badge {
      background-color: $primary;
      &::before {
        border-left-color: $primary;
      }
    }
    &.hot-badge {
      background-color: $hot;
      &::before {
        border-left-color: $hot;
      }
    }
  }
}
