.close-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 15px;
  color: #fff;
  z-index: 10;
  font-size: 0;
  &::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 3px;
    right: 0;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    background-color: #fff;
    transform: rotate(45deg);
    transition: transform 0.25s ease-in-out;
  }
  &::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 3px;
    right: 0;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    background-color: #fff;
    transform: rotate(-45deg);
    transition: transform 0.25s ease-in-out;
  }
  &:hover {
    &::before {
      transform: rotate(0);
    }
    &::after {
      transform: rotate(0);
    }
  }
}
