.form-group {
  margin-bottom: 1.5rem;
  label {
    margin-bottom: 0.5rem;
    display: block;
  }
}

.form-control {
  width: 100%;
  display: block;
  height: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}
