#header {
  position: relative;

  .contact {
    padding: 1rem 4rem;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: 13px;
    .space {
      &::after {
        content: "|";
        margin: 0 0.3rem;
        color: #dddddd44;
      }
    }
    .nav-link {
      font-size: 12px;
      color: $white;
      @extend .interact-link;
    }
  }
}

.header__nav {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 0 4rem;
  background: $white;
  .nav-link {
    color: $black;
    padding: 0 0.7rem;
    transition: color 0.3s ease;
    &:hover {
      color: $primary;
    }
  }
  .nav-list {
    .dropdown-handle {
      & > a:nth-child(1) {
        position: relative;
        display: flex;
        align-items: center;
        .fa-chevron-down {
          font-size: 0.5rem;
          opacity: 0.7;
          margin-left: 0.3rem;
        }
      }
      &:hover {
        .fullwidth-dropdown {
          top: 100%;
        }
      }
      .fullwidth-dropdown {
        width: 100%;
        background-color: $white;
        top: 120%;
        left: 0;
        padding: 2rem 0;
        .shop-content {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          .content-wrapper {
            padding: 0 2rem;
            &:last-child {
              padding-right: 0;
            }
          }
          .content-footer {
            margin-top: 3rem;
            border-right: 1px solid #ddd;
            .service-title {
              color: $black;
              margin-bottom: 0.5rem;
              display: block;
              line-height: 1;
            }
          }
        }
        li {
          display: block;
          margin-top: 1rem;
        }
        .nav-link {
          height: unset;
          line-height: 1.57;
          transition: all 0.3s ease;
          display: block;
          &:hover {
            transform: translateX(5px);
          }
        }
        .product-card {
          .card-title {
            margin: 0;
          }
          .interact-list {
            li {
              margin: 0;
              margin-bottom: 1rem;
            }
          }
          .colors {
            li {
              display: inline-block;
            }
          }
        }
      }
    }

    .nav-item {
      &.active {
        .nav-link {
          color: $primary;
        }
      }
      & > a {
        display: inline-block;
        height: 95px;
        line-height: 95px;
      }
    }
  }
  .logo-wrapper {
    display: flex;
    align-items: center;
    width: 15%;
    min-width: 120px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .header-interact {
    display: flex;
    .login-btn {
      display: block;
      border-right: 2px solid #dddddd75;
      margin-right: 1.5rem;
      padding-right: 1.5rem;
      display: flex;
      align-items: center;
      height: 95px;
      a {
        height: unset;
        @extend .interact-link;
        line-height: 1.5;
      }
    }
    .icon-list {
      display: flex;
      align-items: center;
      li {
        &:not(:last-child) {
          margin-right: 2rem;
        }
        a {
          color: $black;
          line-height: 1;
          i {
            font-size: 1.3rem;
          }
        }
        .fav-icon {
          position: relative;
          font-size: 1.3rem;
          &::before {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            opacity: 1;
            animation: faded 0.3s ease;
          }
          &::after {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            opacity: 1;
            font-weight: bold;
            display: none;
            animation: faded 0.3s ease;
          }
          &:hover {
            &::before {
              display: none;
            }
            &::after {
              display: inline-block;
            }
          }
          .badge {
            position: absolute;
            top: -6px;
            right: -10px;
            height: 15px;
            width: 15px;
            font-size: 10px;
            border-radius: 50%;
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            z-index: 5;
          }
        }
        .search-toggle {
          font-size: 1.3rem;
          position: relative;
          i {
            font-size: 1.3rem;
          }
        }
        .mb-toggle-sidebar {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #header {
    .contact {
      justify-content: center;
      .conect-list {
        display: none;
      }
    }
  }
  .header__nav {
    .nav-list {
      display: none;
    }
    .header-interact {
      .icon-list {
        li {
          .mb-toggle-sidebar {
            display: block;
          }
          .header-cart {
            position: relative;
            .money {
              display: none;
            }
            .item-number {
              font-size: 10px;
              position: absolute;
              top: -10px;
              right: -10px;
              height: 15px;
              width: 15px;
              line-height: 15px;
              text-align: center;
              border-radius: 50%;
              background-color: #efefef;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #header {
    .contact {
      padding: 1rem 2rem;
    }
  }
  .header__nav {
    padding: 1rem 2rem;
    .logo-wrapper {
      width: 20%;
    }
    .header-interact {
      .login-btn {
        display: none;
      }
      .icon-list {
        li {
          .search-toggle {
            display: none;
          }
        }
      }
    }
  }
}
