section.products {
  .swiper-button-next {
    right: 60px;
    color: $black;
  }
  .swiper-button-prev {
    left: 60px;
    color: $black;
  }
  .product-grid {
    @extend .container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    .product-card {
      .card-title {
        border-bottom: 1px solid #dedede;
        display: inline-block;
      }
      .price-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .swap-wrap {
          position: relative;
          overflow: hidden;
          line-height: 32px;
          height: 32px;
          .price {
            transition: transform 0.3s ease;
            display: block;
            font-size: 16px;
          }
          .select-btn {
            display: block;
            transition: transform 0.5s ease;
            color: $black;
            &:hover {
              color: $black;
            }
          }
        }
      }
      &:hover {
        .price-wrap {
          .swap-wrap {
            .price {
              transform: translateY(-100%);
            }
            .select-btn {
              transform: translateY(-100%);
            }
          }
        }
      }
    }
  }
  .banner {
    text-align: center;
    margin-top: 4rem;
    background: url("../images/main-big-baner-8.jpg") no-repeat center;
    background-size: cover;
    padding: 7rem 4.5rem;
    color: $white;
    .sub-title {
      display: block;
      font-size: 26px;
    }
    .banner-title {
      font-weight: 400;
      font-size: 58px;
    }
    .banner-desc {
      width: 100%;
      max-width: 440px;
      margin: 0 auto 1.5rem auto;
    }
    .input-wrapper {
      max-width: 600px;
      margin: 0 auto;
      position: relative;
      &::before {
        content: "\f0e0";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        left: 5px;
        top: 5px;
        font-size: 1.4rem;
        color: rgba(white, 0.6);
        font-weight: bold;
      }
      input {
        height: 43px;
        box-sizing: border-box;
        border: 0;
        background: transparent;
        border-bottom: 1px solid white;
        margin: 0;
        color: white;
        width: 80%;
        float: left;
        &::placeholder {
          color: rgba(white, 0.6);
        }
        padding-left: 30px;
      }
      .submit-btn {
        float: left;
        width: 19%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  section.products {
    .swiper-button-next {
      right: 30px;
    }
    .swiper-button-prev {
      left: 30px;
    }
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  section.products {
    .swiper-button-next {
      right: 0;
      padding: 0.4rem 0.5rem;
      padding-right: 0;
      background-color: $white;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
      &::after {
        font-size: 1rem;
      }
    }
    .swiper-button-prev {
      left: 0;
      padding: 0.4rem 0.8rem;
      padding-right: 0;
      background-color: $white;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
      &::after {
        font-size: 1rem;
      }
    }
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
    }
    .banner {
      padding: 7rem 2rem;
      .input-wrapper {
        input {
          width: 100%;
          display: block;
          margin-bottom: 2rem;
        }
        .submit-btn {
          float: none;
          display: block;
          width: 30%;
          max-width: 200px;
          min-width: 150px;
          margin-left: auto;
          margin-right: auto;
          font-size: 13px;
          font-weight: 300;
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  section.products {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
}
