.login-sidebar {
  box-sizing: border-box;
  width: 340px;
  .sidebar-header {
    padding: 2rem 1.5rem;
    background-color: $black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    box-sizing: border-box;
    .sidebar-title {
      margin: 0;
    }
    .close {
      cursor: pointer;
      position: relative;
      margin-right: 25px;
      &::before {
        content: "";
        width: 20px;
        height: 2px;
        background-color: $white;
        right: -25px;
        top: 50%;
        transition: transform 0.3s ease;
        position: absolute;
      }
      &::after {
        content: "";
        width: 20px;
        height: 2px;
        background-color: $white;
        right: -25px;
        top: 50%;
        transition: transform 0.3s ease;
        position: absolute;
      }
      &:hover {
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .sidebar-body {
    padding: 1rem 1.5rem 0 1.5rem;
    .login-form {
      .form-control {
        padding: 1.4rem 1rem;
        border: 1px solid #ddd;
        &:focus {
          border: 1px solid #333;
        }
      }
    }
    .space-title {
      position: relative;
      text-align: center;
      font-weight: 600;
      color: $black;
      margin: 1.2rem 0;
      span {
        padding: 0 1rem;
        position: relative;
        z-index: 30;
        background-color: $white;
      }
      &::before {
        content: "";
        width: 100%;
        background-color: #ddd;
        height: 1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        z-index: 20;
      }
    }
  }
  .sidebar-footer {
    padding: 0 1.5rem 2rem 1.5rem;
    hr {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
    .user-icon {
      display: block;
      font-size: 50px;
      color: #ddd;
      margin-bottom: 1rem;
    }
    .create-acc-link {
      color: #3e3e3e;
      transition: color 0.3s ease;
      margin-top: 1rem;
      text-decoration: underline;
      display: block;
      &:hover {
        color: #292929;
        text-decoration: underline;
      }
    }
  }
}

.cart-sidebar {
  @extend .login-sidebar;
  .empty-cart {
    color: #747474;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .cart-empty-icon {
      font-size: 30px;
      margin-right: 10px;
    }
  }
}

.mb-sidebar {
  min-width: 300px;
  max-width: 340px;
  .sidebar-header {
    padding: 1rem 0.7rem;
    border-bottom: 1px solid #343434;
    .search-form {
      position: relative;
      input[type="text"] {
        display: block;
        width: 100%;
        background-color: #252525;
        padding-left: 1rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        color: $white;
        box-sizing: border-box;
        border: 0;
        border: 1px solid #343434;
        font-size: 1rem;
      }
      .search-icon {
        position: absolute;
        padding: 0;
        color: $white;
        background: transparent;
        border: 0;
        cursor: pointer;
        right: 10px;
        top: 10px;
        font-size: 18px;
        font-weight: 300;
      }
    }
  }
  .sidebar-body {
    .nav-list {
      li {
        display: block;
        background-color: $black;
        &:hover {
          background-color: $dark;
        }
        &.active {
          a {
            color: $primary;
          }
        }
        a {
          display: block;
          box-sizing: border-box;
          padding-left: 10px;
          font-size: 16px;
          color: $white;
          line-height: 1;
          height: 50px;
          line-height: 50px;
          border-bottom: 1px solid #343434;
          .dropdown-toogle {
            float: right;
            box-sizing: border-box;
            width: 50px;
            height: 50px;
            border-left: 1px solid #343434;
            cursor: pointer;
            display: block;
            position: relative;
            &::before {
              content: " ";
              position: absolute;
              left: 15.5px;
              top: 50%;
              margin-top: -1px;
              width: 12px;
              height: 2px;
              display: inline-block;
              background-color: #fff;
              transform: rotate(50deg);
              transition: all 0.3s linear;
            }
            &::after {
              content: " ";
              position: absolute;
              right: 15.5px;
              top: 50%;
              margin-top: -1px;
              width: 12px;
              height: 2px;
              display: inline-block;
              background-color: #fff;
              transform: rotate(-50deg);
              transition: all 0.3s linear;
            }
            &.on-open {
              background-color: $primary;
              &::before {
                left: 19px;
              }
              &::after {
                right: 18px;
              }
            }
          }
        }
      }
      .dropdown-menu {
        li {
          background-color: #171717;
          &:hover {
            background-color: $dark;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .mb-sidebar {
    min-width: 250px;
    max-width: 250px;
  }
}
