.lora {
  font-family: "Lora", Arial, Helvetica, sans-serif;
}

.caveat {
  font-family: "Caveat", cursive;
}

.text-center {
  text-align: center !important;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.intro-wrapper {
  position: relative;
  width: 60%;
  min-width: 200px;
  margin: 0 auto 2rem auto;
  .sub-title {
    margin-bottom: 1rem;
    color: $light-gray;
    line-height: 1;
  }
  .section-title {
    line-height: 1;
  }
  .title-seperate {
    position: relative;
    width: 100px;
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    &::before {
      content: "";
      position: absolute;
      background-color: #dcdcdc;
      height: 0.5px;
      width: 100%;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    span {
      font-weight: lighter;
      font-size: 12px;
      padding: 0 10px;
      color: #dcdcdc;
      background: $white;
    }
  }
  .desc-text {
    display: block;
    width: 65%;
    margin: 0 auto;
    font-size: 16px;
    .your-store-link {
      color: $primary;
      transition: color 0.3s ease;
      text-decoration: underline;
      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }
}
