$success: #26c281;
$danger: #ff6364;
$warning: #fbcc67;
$primary: #7291de;
$strong-primary: #3b539b;
$blue-bg: #3661b0;
$light-blue-bg: #466bb6;
$white: #fff;
$dark: #353331;
$gray-text: #8f8f8f;

.f-right {
  float: right;
}
