@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,600,700&display=swap");
html {
  font-size: 14px; }

* {
  box-sizing: unset; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.57;
  font-family: "Roboto Slab", serif;
  line-height: 1.6;
  background-color: #fff;
  color: #363f4d; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

a {
  text-decoration: none;
  font-size: 1rem;
  color: #363f4d;
  transition: all 0.3s ease; }

a:hover {
  text-decoration: none;
  color: #79a206; }

button {
  border: 0; }

button:focus,
button:active,
input:active,
input:focus,
textarea:active,
textarea:focus,
option:active,
option:focus,
select:active,
select:focus {
  outline: none; }

button[disabled],
input[disabled] {
  cursor: default; }

select {
  font-family: inherit; }

textarea {
  resize: vertical;
  font-family: inherit; }

input::placeholder {
  font-family: inherit; }

input[type="checkbox"] {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1; }

h1 {
  font-size: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }

h2 {
  font-size: 32px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0; }

h4 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0; }

h5 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0; }

h6 {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0; }

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd; }

p {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1rem; }

b,
strong {
  font-weight: bold; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1rem; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

li {
  display: inline-block; }

.clean {
  clear: both; }

iframe {
  border: 0; }

.swiper-container {
  width: 100%; }

.img-wrapper {
  display: block;
  width: 100%;
  position: relative; }
  .img-wrapper img {
    width: 100%;
    display: block;
    height: auto; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1400px; }

.section-p {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.flexbox {
  display: flex; }

@media screen and (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem; } }
@media screen and (max-width: 426px) {
  .container {
    padding-left: 0.8rem;
    padding-right: 0.8rem; } }
.dropdown-content {
  opacity: 1;
  visibility: visible;
  position: absolute;
  transition: all 0.3s ease;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  z-index: 99; }
  .dropdown-content:hover .dropdown-content {
    opacity: 1;
    visibility: visible; }

.dropdown-menu {
  display: none;
  overflow: hidden;
  transition: height 0.5s ease; }
  .dropdown-menu.open {
    display: block; }

.dropdown-handle:hover .dropdown-content {
  opacity: 1;
  visibility: visible; }

#header {
  background-color: #fff;
  position: relative;
  z-index: 100;
  transition: all 0.3s ease; }
  #header .mb-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #434343;
    display: none; }
  #header .mb-nav-toggle {
    font-size: 20px;
    margin-left: 15px;
    display: none;
    line-height: 1;
    box-sizing: border-box;
    padding-top: 3px; }
  #header.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.15); }
    #header.sticky .nav-link {
      height: 80px;
      line-height: 80px; }
    #header.sticky .setting-toggle > i {
      height: 80px;
      line-height: 80px; }
  #header .nav-link {
    height: 85px;
    line-height: 85px;
    transition: height 0.3s ease; }
  #header .logo-wrapper {
    display: block;
    width: 150px; }
    #header .logo-wrapper img {
      width: 100%;
      height: auto;
      display: block; }
  #header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #header .dropdown-handle {
    position: relative; }
    #header .dropdown-handle > .nav-link::after {
      content: "\f107";
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      margin-left: 5px; }
    #header .dropdown-handle:hover .dropdown-content {
      transform: scaleY(1) translateX(-50%);
      top: 100%; }
  #header .header-nav .nav-item {
    margin: 0 1rem; }
  #header .header-nav .nav-link {
    display: block;
    font-weight: 700;
    font-size: 12px;
    transition: color 0.3s ease; }
    #header .header-nav .nav-link.active, #header .header-nav .nav-link:hover {
      color: #79a206; }
  #header .header-interact {
    display: flex;
    align-items: center; }
  #header .search-form {
    padding-left: 10px;
    border-left: 1px solid #ddd;
    align-items: center;
    padding: 2px 0; }
    #header .search-form .form-group {
      display: flex; }
    #header .search-form .submit-btn {
      background-color: transparent;
      cursor: pointer;
      font-size: 15px; }
      #header .search-form .submit-btn:hover {
        color: #79a206; }
    #header .search-form .form-control {
      border: 0;
      color: #91959b;
      padding-left: 10px; }
      #header .search-form .form-control::placeholder {
        color: inherit; }
  #header .header-cart,
  #header .setting-toggle {
    display: block;
    position: relative;
    font-size: 16px;
    margin-left: 2rem; }
    #header .header-cart i,
    #header .setting-toggle i {
      font-weight: bold; }
  #header .header-cart:hover {
    color: #363f4d; }
  #header .header-cart .price {
    margin-left: 10px;
    color: #79a206;
    font-weight: bold;
    font-size: 1rem; }
  #header .header-cart .badge {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 13px;
    background-color: #79a206;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    bottom: 7px;
    left: 11px; }
  #header .dropdown-content {
    padding: 1rem;
    box-shadow: 0 3px 9.3px 0.7px rgba(0, 0, 0, 0.15);
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    transform: scaleY(0) translateX(-50%);
    transform-origin: top;
    left: -20%;
    background-color: #fff;
    border-radius: 4px; }
    #header .dropdown-content li {
      display: block; }
    #header .dropdown-content .col-title {
      margin-bottom: 1rem; }
      #header .dropdown-content .col-title a {
        font-size: 15px; }
    #header .dropdown-content .menu-link {
      display: block;
      line-height: 2.2; }
      #header .dropdown-content .menu-link:hover {
        transform: translateX(10px); }
    #header .dropdown-content .col {
      min-width: 150px; }
      #header .dropdown-content .col:not(:last-child) {
        margin-right: 2rem; }
  #header .setting-toggle {
    position: relative; }
    #header .setting-toggle > i {
      height: 85px;
      line-height: 85px;
      transition: height 0.3s ease; }
    #header .setting-toggle .dropdown-content {
      display: block;
      font-size: 13px; }
      #header .setting-toggle .dropdown-content strong {
        display: block;
        margin-top: 10px; }
      #header .setting-toggle .dropdown-content ul {
        display: flex;
        flex-direction: column; }
        #header .setting-toggle .dropdown-content ul li {
          min-width: 150px;
          display: block; }
          #header .setting-toggle .dropdown-content ul li:not(:last-child) {
            border-bottom: 1px solid #ddd; }
          #header .setting-toggle .dropdown-content ul li a {
            line-height: 2.5;
            display: block;
            font-size: 13px; }

#mb-nav {
  top: 100%;
  width: 100%;
  background-color: #434343; }
  #mb-nav .nav-list {
    display: block;
    width: 100%; }
  #mb-nav a {
    padding: 7px 15px;
    color: #fff;
    line-height: 2;
    display: block; }
    #mb-nav a.active, #mb-nav a:hover {
      color: #79a206; }
  #mb-nav li {
    display: block; }
  #mb-nav .list-link {
    display: flex;
    justify-content: space-between; }
  #mb-nav .dropdown-toggle .fa-minus {
    display: none; }
  #mb-nav .dropdown-toggle.on-open .fa-plus {
    display: none; }
  #mb-nav .dropdown-toggle.on-open .fa-minus {
    display: inline; }
  #mb-nav .dropdown-menu {
    padding-left: 16px; }

@media screen and (max-width: 1000px) {
  #header .nav-link {
    height: 75px;
    line-height: 75px; }
  #header .setting-toggle > i {
    height: 75px;
    line-height: 75px; }
  #header .setting-toggle .dropdown-content {
    left: -40px; }
  #header .mb-container {
    display: block; }
  #header .mb-nav-toggle {
    display: block; }
  #header .header-nav {
    display: none; }
  #header.sticky {
    position: relative !important; } }
@media screen and (max-width: 650px) {
  #header {
    margin-bottom: 50px;
    padding: 0 10px; }
    #header .logo-wrapper {
      width: 120px; }
    #header .search-form {
      position: absolute;
      z-index: 50;
      top: 100%;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      padding: 0;
      background-color: #434343;
      height: 50px; }
      #header .search-form .form-group {
        height: 100%;
        align-items: center;
        box-sizing: border-box;
        padding: 0 20px; }
        #header .search-form .form-group .form-control {
          width: 100%;
          background-color: transparent; }
      #header .search-form .submit-btn {
        color: #fff; }
    #header .header-cart .price {
      display: none; } }
.tabs-container {
  width: 100%; }
  .tabs-container .nav-tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow-x: auto;
    padding: 1rem 0;
    position: relative; }
    .tabs-container .nav-tabs::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #ddd;
      z-index: 5; }
    .tabs-container .nav-tabs .nav-item {
      display: inline-block;
      font-size: 1rem;
      line-height: 1;
      margin: 0 1.5rem;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      position: relative;
      color: #aaaaaa; }
      .tabs-container .nav-tabs .nav-item.active {
        font-weight: bold;
        color: #79a206; }
        .tabs-container .nav-tabs .nav-item.active::after {
          content: "";
          position: absolute;
          bottom: -1rem;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: #79a206;
          z-index: 10; }
      .tabs-container .nav-tabs .nav-item:hover {
        color: #79a206; }
  .tabs-container .tab-content {
    width: 100%;
    overflow: hidden;
    position: relative; }
    .tabs-container .tab-content .tab {
      transition: all 0.5s ease;
      padding: 2rem 0;
      width: 100%;
      position: absolute;
      left: 100%;
      transform: translateX(-100%);
      opacity: 0; }
      .tabs-container .tab-content .tab.active {
        visibility: visible;
        position: relative;
        opacity: 1;
        left: 0;
        transform: unset; }

@media screen and (max-width: 600px) {
  .tabs-container .nav-tabs {
    justify-content: flex-start; }
    .tabs-container .nav-tabs .nav-item {
      font-size: 12px;
      margin: 0 0.5rem;
      flex: 1; } }
.text-primary {
  color: #79a206 !important; }

.text-center {
  text-align: center !important; }

.section-title {
  font-size: 24px !important; }

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative; }
  .section-header::before {
    content: "";
    position: absolute;
    background-color: #ddd;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0; }
  .section-header .nav-tabs {
    justify-content: flex-end;
    width: auto; }

@media screen and (max-width: 900px) {
  .section-header {
    flex-direction: column;
    justify-content: flex-start; }
    .section-header .nav-tabs {
      justify-content: flex-start; } }
.card-product {
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  max-width: 400px;
  width: 100%;
  transition: all 0.3 ease; }
  .card-product:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3); }
    .card-product:hover .card-footer {
      opacity: 1;
      visibility: visible; }
  .card-product .card-header {
    position: relative; }
    .card-product .card-header .whishlist-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 10;
      font-size: 1.2rem; }
    .card-product .card-header .badge {
      position: absolute;
      background-color: #79a206;
      color: #fff;
      border-radius: 6px;
      padding: 0.5em 1em;
      font-size: 12px;
      top: 20px;
      left: 20px;
      line-height: 1;
      z-index: 10; }
  .card-product .card-body {
    padding: 10px;
    text-align: center; }
    .card-product .card-body .product-name {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      font-size: 15px;
      height: 30px;
      line-height: 1;
      overflow: hidden; }
    .card-product .card-body .price-wrap {
      font-weight: 600; }
      .card-product .card-body .price-wrap ins {
        text-decoration: none;
        color: #79a206;
        font-size: 16px; }
      .card-product .card-body .price-wrap del {
        color: #888;
        font-size: 14px;
        margin-right: 5px; }
    .card-product .card-body .rating {
      display: flex;
      color: #f1c92b;
      justify-content: center;
      margin-bottom: 10px; }
  .card-product .card-footer {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease; }
    .card-product .card-footer::before {
      content: "";
      height: 1px;
      width: calc(100% - 20px);
      background-color: #ddd;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
    .card-product .card-footer a {
      display: block;
      color: #79a206;
      background-color: #ededed;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      transition: all 0.3 ease; }
      .card-product .card-footer a:hover {
        color: #fff;
        background-color: #79a206; }

.card-product1 {
  position: relative;
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  display: flex; }
  .card-product1 .product-content {
    padding-top: 1.5rem;
    width: 65%;
    box-sizing: border-box;
    padding-left: 10px; }
  .card-product1 .img-wrapper {
    width: 35%; }
  .card-product1 .product-name {
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1; }
  .card-product1 .rating {
    display: flex;
    color: #f1c92b;
    margin-bottom: 10px;
    font-size: 12px; }
  .card-product1 .price-wrap {
    font-weight: 600; }
    .card-product1 .price-wrap ins {
      text-decoration: none;
      color: #79a206;
      font-size: 16px; }
    .card-product1 .price-wrap del {
      color: #888;
      font-size: 14px;
      margin-right: 5px; }

.btn {
  padding: 1em 1.5em;
  border-radius: 0.4em;
  cursor: pointer;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box; }

.btn-primary {
  color: #fff;
  background-color: #79a206;
  transition: background-color 0.3s ease; }
  .btn-primary:hover {
    background-color: #333333;
    color: #fff; }
  .btn-primary.outline {
    color: #79a206;
    background-color: transparent;
    border-radius: 4em;
    border: 2px solid #79a206; }
    .btn-primary.outline:hover {
      color: #fff;
      background-color: #79a206; }

#btn-top {
  color: #fff;
  background-color: #111;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 45px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  transition: background-color 0.3s ease;
  position: fixed;
  z-index: 100;
  bottom: 40px;
  right: 20px;
  display: none; }
  #btn-top:hover {
    cursor: pointer;
    background-color: #79a206; }
  #btn-top.block {
    display: block; }

.tooltip {
  position: relative; }
  .tooltip .tooltip-text {
    white-space: nowrap;
    min-width: 50px;
    display: none;
    position: absolute;
    color: #fff;
    background: #000;
    font-size: 0.8rem;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    line-height: 1;
    padding: 5px 7px;
    text-align: center;
    border: 0;
    border-radius: 3px; }
    .tooltip .tooltip-text::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-top: #000 5px solid;
      border-left: transparent 5px solid;
      border-right: transparent 5px solid;
      border-bottom: transparent 5px solid; }
    .tooltip .tooltip-text.left {
      top: 50%;
      left: 0;
      transform: translate(calc(-100% - 7px), -50%); }
      .tooltip .tooltip-text.left::after {
        border-color: transparent;
        border-left-color: #000;
        left: unset;
        bottom: unset;
        top: 50%;
        right: -10px;
        transform: translateY(-50%); }
  .tooltip:hover .tooltip-text {
    display: block;
    animation: faded 0.4s; }

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 1;
  transition: background-color 0.3s ease; }
  .swiper-pagination-bullet:hover {
    background-color: #79a206; }

.swiper-pagination-bullet-active {
  background-color: #79a206 !important;
  width: 40px;
  border-radius: 20px; }

.swiper-button-next,
.swiper-button-prev {
  background-color: #ddd;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 0 !important; }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: #666;
    font-size: 20px; }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #79a206; }
    .swiper-button-next:hover::after,
    .swiper-button-prev:hover::after {
      color: #fff; }

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev {
  opacity: 1 !important; }

.product-swiper .swiper-slide {
  padding: 5px 0; }

.product-swiper-2 .swiper-slide {
  display: flex;
  flex-direction: column; }
  .product-swiper-2 .swiper-slide .card-product {
    margin-bottom: 0.5rem; }

section.main-carousel .swiper-slide {
  max-height: 70vh;
  position: relative; }
section.main-carousel .banner-content {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 5%;
  width: 50%;
  font-size: 4vw; }
  section.main-carousel .banner-content .sub-title {
    font-size: 25%;
    color: #79a206;
    margin-bottom: 0; }
  section.main-carousel .banner-content .banner-title {
    font-size: 100%;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0.6em; }
    section.main-carousel .banner-content .banner-title b {
      font-weight: 700; }
  section.main-carousel .banner-content .price-wrap {
    font-size: 17px;
    font-weight: 300;
    line-height: 1; }
    section.main-carousel .banner-content .price-wrap strong {
      font-weight: 700;
      color: #79a206;
      font-size: 2vw; }
  section.main-carousel .banner-content .btn {
    font-size: 20%;
    font-weight: bold;
    padding: 1.5em 3em; }
section.main-carousel .banner-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; }

@media screen and (max-width: 768px) {
  section.main-carousel .banner-content {
    font-size: 5vw; }
    section.main-carousel .banner-content .price-wrap {
      font-size: 30%; }
    section.main-carousel .banner-content .banner-title {
      font-size: 80%; }
    section.main-carousel .banner-content .btn {
      font-size: 25%; } }
@media screen and (max-width: 500px) {
  section.main-carousel .banner-content {
    font-size: 5.5vw; } }
@media screen and (max-width: 426px) {
  section.main-carousel .banner-grid {
    grid-template-columns: 1fr; } }
section.product .sevice-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 0;
  border-radius: 3px;
  border: 1px solid #ddd; }
  section.product .sevice-grid .service {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    section.product .sevice-grid .service:not(:last-child)::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: #ddd;
      z-index: 5;
      top: 0;
      right: 0; }
    section.product .sevice-grid .service .service-content {
      padding-top: 10px;
      margin-left: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    section.product .sevice-grid .service h3,
    section.product .sevice-grid .service p {
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    section.product .sevice-grid .service h3 {
      margin-bottom: 5px; }
    section.product .sevice-grid .service p {
      color: #91959b; }

@media screen and (max-width: 1024px) {
  section.product .sevice-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; } }
@media screen and (max-width: 550px) {
  section.product .sevice-grid {
    grid-template-columns: 1fr; }
    section.product .sevice-grid .service {
      padding-left: 20px;
      padding-right: 20px; } }
section.trending .products-grid {
  display: grid;
  grid-template-columns: minmax(300px, 400px) auto;
  grid-gap: 2rem; }
section.trending .large-card:hover {
  box-shadow: unset; }
section.trending .large-card .product-name {
  font-size: 18px; }
section.trending .large-card .btn-primary {
  font-size: 13px;
  font-weight: bold; }
section.trending .banner-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; }

@media screen and (max-width: 900px) {
  section.trending .products-grid {
    grid-template-columns: 1fr; }
  section.trending .large-card {
    margin: 2rem auto; } }
@media screen and (max-width: 426px) {
  section.trending .banner-grid {
    grid-template-columns: 1fr; } }
section.bestseller .banner-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-gap: 2rem; }
  section.bestseller .banner-grid .img-wrapper img {
    height: 100%; }

@media screen and (max-width: 426px) {
  section.bestseller .banner-grid {
    grid-template-columns: 1fr; } }
section.mostview .product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem; }

@media screen and (max-width: 1024px) {
  section.mostview .product-grid {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 426px) {
  section.mostview .product-grid {
    grid-template-columns: 1fr; } }
section.partners {
  margin: 2rem 0; }
  section.partners .swiper-container {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  section.partners .img-wrapper {
    padding: 1rem 0; }
    section.partners .img-wrapper img {
      display: block;
      height: 100%;
      filter: grayscale(100%);
      transition: filter 0.3s ease;
      transform: scale(0.9); }
      section.partners .img-wrapper img:hover {
        filter: grayscale(0); }

#footer .footer-logo {
  display: block;
  margin-bottom: 1rem; }
#footer li {
  display: block;
  margin-bottom: 0.5rem; }
#footer .footer-rows {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem; }
#footer h4 {
  margin-bottom: 1rem; }
#footer .col-title {
  margin-bottom: 2rem; }
#footer .socials {
  display: flex; }
  #footer .socials .social-link {
    display: block;
    color: #bcbfc6;
    background-color: #ededed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease; }
    #footer .socials .social-link:hover {
      color: #fff;
      background-color: #79a206; }
#footer .footer-link {
  display: block;
  transition: all 0.3s ease;
  line-height: 2; }
  #footer .footer-link:hover {
    transform: translateX(10px);
    color: #79a206; }
#footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-top: 1px solid #ddd;
  margin-top: 5rem; }
  #footer .copyright p {
    margin: 0; }
  #footer .copyright a {
    color: #79a206; }
    #footer .copyright a:hover {
      color: #363f4d; }
  #footer .copyright .img-wrapper {
    width: auto; }
    #footer .copyright .img-wrapper img {
      max-width: 100%;
      width: auto; }
#footer .sign-form .form-group {
  width: 100%;
  margin-bottom: 2rem; }
  #footer .sign-form .form-group .form-control {
    width: 100%;
    padding: 5px 10px;
    border: 0;
    border-bottom: 1px solid #ededed;
    color: #91959b;
    font-size: 13px;
    box-sizing: border-box; }
    #footer .sign-form .form-group .form-control::placeholder {
      color: inherit; }
#footer .sign-form button[type="submit"] {
  border-radius: 2em;
  font-weight: bold;
  font-size: 12px;
  display: block;
  width: 100%; }

@media screen and (max-width: 1000px) {
  #footer .footer-rows {
    grid-template-columns: repeat(4, 1fr); } }
@media screen and (max-width: 768px) {
  #footer .footer-rows {
    grid-template-columns: repeat(2, 1fr); }
  #footer .contact-col {
    grid-column-start: 1;
    grid-column-end: 3; }
  #footer .col {
    margin-bottom: 1rem; }
  #footer .copyright {
    flex-direction: column;
    justify-content: center;
    padding: 20px 0; }
    #footer .copyright p {
      margin-bottom: 1rem; } }
@media screen and (max-width: 426px) {
  #footer .footer-rows {
    grid-template-columns: 1fr; }
  #footer .contact-col {
    grid-column-start: 1;
    grid-column-end: 2; } }

/*# sourceMappingURL=main.css.map */
