section.appointment {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: url("../images/make-an-appointment.png") no-repeat center center;
  background-size: cover;
  .appointment-form {
    width: 70%;
    min-width: 250px;
    input {
      color: #aaa9a9;
      background: transparent;
      border: 1px solid #aaa9a9;
      height: 40px;
    }
    textarea {
      height: 120px;
      background: transparent;
      color: #aaa9a9;
      padding-top: 5px;
    }
    button[type="submit"] {
      letter-spacing: 2px;
      display: block;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  section.appointment {
    height: auto;

    .appointment-form {
      width: 100%;
      min-width: auto;
      .flexbox {
        flex-direction: column;
        .form-group {
          margin-right: 0 !important;
        }
      }
    }
  }
}
