section.appointment {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .bg-cover {
    top: 0;
    left: 0;
    position: absolute;
    background: url("../images/make-an-appointment.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .appointment-form {
    width: 70%;
    min-width: 300px;
    input {
      color: #aaa9a9;
      background: transparent;
      border: 1px solid #aaa9a9;
      height: 40px;
    }
    textarea {
      height: 120px;
      background: transparent;
      color: #aaa9a9;
      padding-top: 5px;
    }
    button[type="submit"] {
      letter-spacing: 2px;
      display: block;
      width: 100%;
    }
  }
}
