section.facilities {
  position: relative;
  box-sizing: border-box;
  height: 809px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .bg-img {
    background: url("../images/paralax-bg-tour-facilities.png") no-repeat center
      center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
