.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  display: block;
  height: 30px;
  font-size: 0.8rem;
  color: $black;
  padding-left: 10px;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}
