// TODO: Margin auto

.m-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto;
}

// TODO: Margin

.m-0 {
  margin: $space0 !important;
}

.m-1 {
  margin: $space1 !important;
}

.m-2 {
  margin: $spacer !important;
}

.m-3 {
  margin: $space3 !important;
}

.m-4 {
  margin: $space4 !important;
}

.m-5 {
  margin: $space5 !important;
}

// TODO: Margin vertical
.my-0 {
  margin-top: $space0 !important;
  margin-bottom: $space0 !important;
}

.my-1 {
  margin-top: $space1 !important;
  margin-bottom: $space1 !important;
}

.my-2 {
  margin-top: $spacer !important;
  margin-bottom: $spacer !important;
}

.my-3 {
  margin-top: $space3 !important;
  margin-bottom: $space3 !important;
}

.my-4 {
  margin-top: $space4 !important;
  margin-bottom: $space4 !important;
}

.my-5 {
  margin-top: $space5 !important;
  margin-bottom: $space5 !important;
}

// TODO: Margin right

.mr-0 {
  margin-right: $space0 !important;
}

.mr-1 {
  margin-right: $space1 !important;
}

.mr-2 {
  margin-right: $spacer !important;
}

.mr-3 {
  margin-right: $space3 !important;
}

.mr-4 {
  margin-right: $space4 !important;
}

.mr-5 {
  margin-right: $space5 !important;
}

// TODO: Margin left

.ml-0 {
  margin-left: $space0 !important;
}

.ml-1 {
  margin-left: $space1 !important;
}

.ml-2 {
  margin-left: $spacer !important;
}

.ml-3 {
  margin-left: $space3 !important;
}

.ml-4 {
  margin-left: $space4 !important;
}

.ml-5 {
  margin-left: $space5 !important;
}

// TODO: Margin top

.mt-0 {
  margin-top: $space0 !important;
}

.mt-1 {
  margin-top: $space1 !important;
}

.mt-2 {
  margin-top: $spacer !important;
}

.mt-3 {
  margin-top: $space3 !important;
}

.mt-4 {
  margin-top: $space4 !important;
}

.mt-5 {
  margin-top: $space5 !important;
}

// TODO: Margin bottom
.mb-0 {
  margin-bottom: $space0 !important;
}

.mb-1 {
  margin-bottom: $space1 !important;
}

.mb-2 {
  margin-bottom: $spacer !important;
}

.mb-3 {
  margin-bottom: $space3 !important;
}

.mb-4 {
  margin-bottom: $space4 !important;
}

.mb-5 {
  margin-bottom: $space5 !important;
}
