section.welcome {
  .flex-item {
    margin-bottom: 3rem;
    color: $gray;
    cursor: pointer;
    &:hover {
      h3 {
        color: $primary;
        transition: color 0.3s ease;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  section.welcome {
    .flexbox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and(max-width: 768px) {
  section.welcome {
    .flexbox {
      grid-template-columns: 1fr;
    }
  }
}
