.btn {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.8em 1.6em;
  color: #ddd;
  border: 2px solid #ddd;
  transition: border 0.3s ease, color 0.3s ease;
  line-height: 1.2;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  display: inline-block;
  &:hover {
    color: $white;
    border-color: $white;
  }
}

#top-btn {
  background-color: #696969;
  color: $white;
  position: fixed;
  transition: background-color 0.3s ease;
  bottom: -5px;
  right: 60px;
  z-index: 99;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
  opacity: 0.95;
  border-radius: 3px;
  font-size: 0.8rem;
  &:hover {
    background-color: $primary;
  }
  &.block {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #top-btn {
    bottom: 15px;
  }
}
