.btn {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.8em 1.6em;
  color: #ddd;
  border: 2px solid #ddd;
  transition: border 0.3s ease, color 0.3s ease;
  line-height: 1.2;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  display: inline-block;
  &:hover {
    color: $white;
    border-color: $white;
  }
}
