#header-banner {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 5;
  .slide {
    position: relative;
    height: 722px;
    .slide-content {
      position: absolute;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);
      padding: 0 2rem;
      width: 100%;
      .slide-title {
        font-size: 10vw;
      }
      .slide-sub-title {
        display: inline-block;
        margin-bottom: 2rem;
        background-color: rgba(76, 169, 180, 0.4);
        padding: 5px 10px;
      }
      .btn {
        margin-right: 20px;
        padding: 1em 2em;
        font-size: $f-large;
      }
    }
    .bg {
      width: 100%;
      max-width: 100%;
      height: 100%;
      position: absolute;
    }
    &:nth-child(1) {
      .bg {
        background: url("../images/home_slider_one.webp") no-repeat center;
        background-attachment: fixed;
        background-size: cover;
      }
    }
    &:nth-child(2) {
      .bg {
        background: url("../images/home_slider_2-2.webp") no-repeat center;
        background-attachment: fixed;
        background-size: cover;
      }
    }
  }
}

@media screen and (max-width: 1090px) {
  #header-banner {
    position: relative;
    .slide {
      .bg {
        background-attachment: unset !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #header-banner {
    .slide {
      .slide-content {
        width: auto;
        position: relative;
        top: unset;
        transform: unset;
        padding-top: 20%;
        .slide-title {
          font-size: 17vw;
        }
        .slide-sub-title {
          font-size: 5vw;
        }
        .btn {
          padding: 0.5em 1.5em;
          font-size: 12px;
        }
      }
    }
  }
}
