.tooltip {
  position: relative;
  .tooltip-text {
    display: none;
    position: absolute;
    color: $white;
    background: #434343;
    font-size: 0.7em;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    line-height: 1;
    padding: 5px 7px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-top: #434343 5px solid;
      border-left: transparent 5px solid;
      border-right: transparent 5px solid;
      border-bottom: transparent 5px solid;
    }
  }
  &:hover {
    .tooltip-text {
      display: block;
      animation: faded 0.4s;
    }
  }
}
