@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
html {
  font-size: 15px; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.57;
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.67; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

a {
  text-decoration: none;
  font-size: 1rem; }

a:hover {
  text-decoration: none; }

button {
  border: 0; }

button:focus,
button:active,
input:active,
input:focus,
textarea:active,
textarea:focus,
option:active,
option:focus,
select:active,
select:focus {
  outline: none; }

button[disabled],
input[disabled] {
  cursor: default; }

select {
  font-family: inherit; }

textarea {
  resize: vertical;
  font-family: inherit; }

input::placeholder {
  font-family: inherit; }

input[type="checkbox"] {
  margin: 0;
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }

h2 {
  font-size: 2.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.86rem;
  margin-top: 0;
  margin-bottom: 0; }

h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0; }

h5 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0; }

h6 {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0; }

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd; }

p {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1rem; }

b,
strong {
  font-weight: bold; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1rem; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

li {
  display: inline-block; }

.clean {
  clear: both; }

iframe {
  border: 0; }

input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  user-select: none;
  width: 1px;
  height: 1px; }

input[type="checkbox"]:checked + label::after {
  content: "";
  height: 6px;
  width: 11px;
  border: 0;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
  transform: rotate(-45deg);
  left: 4px;
  top: 7px;
  position: absolute; }

input[type="checkbox"]:checked + label::before {
  background: #f47363;
  border: 1px solid #e2270f; }

input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 8px;
  text-indent: 18px;
  cursor: pointer;
  vertical-align: middle; }
  input[type="checkbox"] + label::before {
    content: "";
    height: 18px;
    width: 18px;
    border: 1px solid #aaa;
    border-radius: 3px;
    left: 0;
    top: 2px;
    position: absolute;
    transition: all 0.3s ease;
    text-align: center; }
  input[type="checkbox"] + label:hover::before {
    border-color: #f14833; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5.7rem;
  padding-right: 5.7rem;
  max-width: 1200px; }

.section-p {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.flexbox {
  display: flex; }

@media screen and (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem; } }
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999;
  opacity: 0;
  visibility: hidden; }
  .modal .modal-center {
    min-width: 300px;
    width: 40%;
    margin: 40px auto 0 auto;
    background: #fff;
    border-radius: 3px;
    opacity: 1;
    box-sizing: border-box;
    padding: 15px;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease; }
    .modal .modal-center.large-modal {
      width: 60%; }
    .modal .modal-center .modal-header,
    .modal .modal-center .modal-body {
      padding: 15px 20px;
      position: relative; }
    .modal .modal-center .modal-title {
      margin: 0;
      font-size: 2.12rem;
      font-weight: 300;
      display: flex;
      align-items: center; }
    .modal .modal-center .close {
      position: absolute;
      top: -5px;
      right: 5px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: 1px solid #333;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      background: transparent;
      font-size: 1.8rem;
      opacity: 0.4;
      line-height: 1;
      cursor: pointer; }
      .modal .modal-center .close:hover {
        opacity: 1; }
    .modal .modal-center.on-open {
      opacity: 1;
      transform: translateY(0); }
  .modal .right-sidebar {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    height: 100vh;
    overflow: auto; }
    .modal .right-sidebar.on-open {
      transform: translateX(0); }
  .modal .left-sidebar {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: #303030;
    height: 100vh;
    overflow: auto;
    color: #fff; }
    .modal .left-sidebar.on-open {
      transform: translateX(0); }
  .modal.open {
    opacity: 1;
    visibility: visible; }

.btn, .btn-action, .btn-default, .btn-dark, .btn-light {
  padding: 0.6em 1.5em;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.3s ease; }

.btn-action {
  border: 1px solid #f14833;
  background-color: rgba(241, 72, 51, 0.9);
  cursor: pointer;
  color: #fff;
  padding: 0.6em 1.5em;
  font-size: 1rem; }
  .btn-action:hover {
    background-color: #f03820; }
  .btn-action:active {
    background-color: #204d74; }

.btn-default {
  border: 1px solid #666666;
  color: #666666;
  background-color: #fff; }
  .btn-default:hover {
    border-color: #f14833;
    color: #f14833; }

.btn-dark {
  background-color: #696969;
  color: #fff;
  border: 1px solid #555; }
  .btn-dark:hover {
    background-color: #555; }

.btn-light {
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  background-color: rgba(255, 255, 255, 0.05); }
  .btn-light:hover {
    background-color: rgba(255, 255, 255, 0.1); }

.form-group {
  margin-bottom: 1rem; }

.form-control {
  width: 100%;
  display: block;
  height: 30px;
  font-size: 0.8rem;
  color: #555555;
  font-size: 1rem;
  border: 1px solid #ddd;
  padding-left: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 44px; }
  .form-control:focus {
    border-color: #f14833; }

.text-primary {
  color: #f14833 !important; }

.text-light-primary {
  color: #f89e92 !important; }

.text-white {
  color: #fff !important; }

.text-center {
  text-align: center !important; }

.img-wrapper {
  display: block;
  width: 100%;
  height: 100%; }
  .img-wrapper img {
    display: block;
    width: 100%;
    height: 100%; }

.raleway {
  font-family: "Raleway "; }

.dropdown-content {
  opacity: 1;
  visibility: visible;
  position: absolute;
  transition: all 0.3s ease;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  z-index: 99; }
  .dropdown-content:hover .dropdown-content {
    opacity: 1;
    visibility: visible; }

.dropdown-menu {
  display: none;
  overflow: hidden;
  transition: height 0.5s ease; }
  .dropdown-menu.open {
    display: block; }

.dropdown-handle:hover .dropdown-content {
  opacity: 1;
  visibility: visible; }

.tooltip {
  position: relative; }
  .tooltip .tooltip-text {
    white-space: nowrap;
    min-width: 50px;
    display: none;
    position: absolute;
    color: #fff;
    background: #303030;
    font-size: 0.8rem;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    line-height: 1;
    padding: 5px 7px;
    text-align: center;
    border: 0;
    border-radius: 3px; }
    .tooltip .tooltip-text::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-top: #303030 5px solid;
      border-left: transparent 5px solid;
      border-right: transparent 5px solid;
      border-bottom: transparent 5px solid; }
    .tooltip .tooltip-text.left {
      top: 50%;
      left: 0;
      transform: translate(calc(-100% - 7px), -50%); }
      .tooltip .tooltip-text.left::after {
        border-color: transparent;
        border-left-color: #303030;
        left: unset;
        bottom: unset;
        top: 50%;
        right: -10px;
        transform: translateY(-50%); }
  .tooltip:hover .tooltip-text {
    display: block;
    animation: faded 0.4s; }

.header {
  background-color: #3d3d3d;
  padding: 0.5rem 0; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header li {
    display: inline-block;
    margin-right: 10px; }
  .header a {
    color: #b2b2b2;
    transition: color 0.3s ease; }
  .header .socials a:hover {
    color: #f14833; }
  .header .contact {
    display: flex;
    align-self: center; }
    .header .contact li {
      display: flex;
      align-items: center; }
      .header .contact li:first-child {
        padding-right: 10px;
        border-right: 1px solid #696969; }
    .header .contact i {
      color: #f6887b;
      margin-right: 5px; }
    .header .contact a {
      font-size: 14px; }
      .header .contact a:hover {
        color: #ddd; }

#login-modal .login-form {
  font-size: 14px; }
  #login-modal .login-form .remember-wrapper {
    margin-bottom: 2rem;
    margin-top: 0.5rem; }
  #login-modal .login-form a {
    color: #303030;
    text-transform: color 0.3s ease;
    font-weight: 700; }
    #login-modal .login-form a:hover {
      color: #f14833; }

.line {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #ff7564;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem; }

#header-nav {
  background-color: #303030;
  position: relative;
  color: #fff; }
  #header-nav .nav-link {
    padding: 0 1rem;
    position: relative;
    display: block;
    height: 90px;
    line-height: 90px; }
  #header-nav a {
    color: #fff; }
  #header-nav .container {
    display: flex;
    align-items: center; }
  #header-nav .dropdown-content {
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    top: 70%;
    transition: all 0.3s ease;
    padding: 0.7rem 0.5rem;
    box-sizing: border-box; }
    #header-nav .dropdown-content .list-wrap {
      margin-right: 2.5rem; }
    #header-nav .dropdown-content .group-title {
      color: #fff;
      font-weight: 700;
      display: block;
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      padding-bottom: 0.4rem;
      font-size: 14px; }
    #header-nav .dropdown-content ul {
      display: flex;
      flex-direction: column;
      min-width: 200px; }
      #header-nav .dropdown-content ul a:not(.img-wrapper) {
        display: block;
        padding: 0.3rem 0.5em;
        background: transparent;
        transition: background 0.3s ease;
        border-radius: 3px;
        font-size: 14px;
        box-sizing: border-box; }
        #header-nav .dropdown-content ul a:not(.img-wrapper) .icon {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          margin-right: 4px;
          vertical-align: middle; }
        #header-nav .dropdown-content ul a:not(.img-wrapper):hover {
          background: #f14833; }
    #header-nav .dropdown-content.large-dropdown-menu {
      left: 50%;
      transform: translateX(-50%); }
    #header-nav .dropdown-content.portfolio-dropdown li:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      padding-bottom: 0.4rem; }
    #header-nav .dropdown-content .grid-colors {
      display: grid;
      grid-template-columns: repeat(4, 40px);
      grid-gap: 0.5rem; }
      #header-nav .dropdown-content .grid-colors li {
        height: 40px;
        cursor: pointer;
        box-sizing: border-box; }
        #header-nav .dropdown-content .grid-colors li:hover {
          border: 1px solid #12121241; }
        #header-nav .dropdown-content .grid-colors li.text {
          display: flex;
          align-items: center;
          grid-column-start: 3;
          grid-column-end: 5;
          text-align: center;
          height: 40px;
          overflow: hidden;
          box-sizing: border-box;
          color: #fff;
          font-size: 11px;
          line-height: 1;
          padding: 5px;
          box-shadow: 0 0 0px 1px rgba(200, 200, 200, 0.2); }
    #header-nav .dropdown-content .products li {
      display: flex;
      max-width: 350px;
      margin-bottom: 15px;
      border-bottom: 1px solid #a0a0a0;
      padding-bottom: 1rem; }
      #header-nav .dropdown-content .products li a {
        display: block;
        padding: 0;
        background: transparent; }
        #header-nav .dropdown-content .products li a:hover {
          background: unset; }
        #header-nav .dropdown-content .products li a.img-wrapper {
          width: 60px;
          height: 60px; }
      #header-nav .dropdown-content .products li .product-content {
        margin-left: 15px; }
        #header-nav .dropdown-content .products li .product-content .product-name {
          color: #fff;
          font-size: 13px; }
        #header-nav .dropdown-content .products li .product-content .price {
          color: #f14833;
          font-family: "Raleway"; }
  #header-nav .nav-list {
    margin-left: 50px;
    display: flex;
    align-items: center; }
    #header-nav .nav-list .nav-item {
      display: inline-block; }
    #header-nav .nav-list .dropdown-handle:hover .dropdown-content {
      top: 100%; }
    #header-nav .nav-list .dropdown-handle .nav-link:hover::after {
      content: "\e680"; }
    #header-nav .nav-list .dropdown-handle .nav-link::after {
      font-family: "Pe-icon-7-stroke";
      content: "\e688";
      vertical-align: middle; }
    #header-nav .nav-list .dropdown-handle .nav-link.active {
      color: #f47363; }
  #header-nav .header-interact {
    margin-left: 50px; }
    #header-nav .header-interact .toggle {
      display: inline-block;
      margin-right: 2rem; }
      #header-nav .header-interact .toggle > a {
        font-size: 1.5rem; }

#search-toggle {
  position: relative; }
  #search-toggle .close-icon {
    display: none; }
  #search-toggle .search-icon {
    display: inline; }
  #search-toggle.open .close-icon {
    display: inline; }
  #search-toggle.open .search-icon {
    display: none; }

#header-search-form {
  position: absolute;
  top: 100%;
  left: -100px;
  transition: all 0.3s cubic-bezier(0.405, 0.02, 0.325, 0.95);
  transform: translateY(-50px) rotateX(90deg) scale(0.8);
  opacity: 0;
  z-index: 99; }
  #header-search-form input[type="search"] {
    text-align: center;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 7px solid #944940;
    padding: 1rem 2rem;
    width: 350px; }
  #header-search-form.on-open {
    transform: translateY(0px) rotateX(0deg) scale(1);
    opacity: 1; }

#cart-toggle {
  transition: all 0.3s ease; }
  #cart-toggle .header-cart {
    position: relative;
    z-index: 20;
    display: inline-block; }
    #cart-toggle .header-cart .badge {
      background-color: #f14833;
      color: #fff;
      position: absolute;
      padding: 5px;
      font-size: 10px;
      text-align: center;
      border-radius: 50%;
      line-height: 1;
      top: 25%;
      right: -10px; }
  #cart-toggle .cart-sidebar {
    position: fixed;
    padding: 10px 20px;
    background: #fff url("../images/cd-lateral-nav.svg") center center repeat;
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 100%;
    top: 0;
    transform: translateX(290px);
    color: #3d3d3d;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden; }
    #cart-toggle .cart-sidebar .sidebar-title {
      font-size: 20px;
      font-weight: 500;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ddd; }
    #cart-toggle .cart-sidebar .empty-wrap {
      color: #999;
      text-align: center; }
      #cart-toggle .cart-sidebar .empty-wrap .icon-wrapper {
        position: relative; }
        #cart-toggle .cart-sidebar .empty-wrap .icon-wrapper .fa-ban {
          position: absolute;
          background-color: rgba(241, 72, 51, 0.35);
          color: #fff;
          border-radius: 50%;
          padding: 2px;
          font-size: 1.5rem;
          left: 50%;
          top: 5px;
          z-index: 5;
          transform: translateX(-50%); }
        #cart-toggle .cart-sidebar .empty-wrap .icon-wrapper .pe-7s-cart {
          font-size: 77px; }
      #cart-toggle .cart-sidebar .empty-wrap h2 {
        margin-top: 0;
        font-weight: 400;
        font-size: 27px; }
  #cart-toggle.open {
    position: fixed;
    transform: translateX(-288px);
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer; }
    #cart-toggle.open .cart-sidebar {
      opacity: 1;
      visibility: visible;
      right: 0; }
    #cart-toggle.open .header-cart {
      position: absolute;
      right: 75px; }

#main-banner:hover .swiper-btn {
  opacity: 1; }
#main-banner .swiper-pagination-bullets .swiper-pagination-bullet {
  border: 2px solid #f89e92;
  cursor: pointer;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background-color: #fff; }
  #main-banner .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #f14833; }
#main-banner .swiper-btn {
  color: #fff;
  font-weight: lighter;
  opacity: 0;
  transition: opacity 0.3s ease; }
#main-banner .swiper-slide {
  position: relative;
  height: 100vh;
  max-height: 600px;
  min-height: 350px;
  overflow: hidden; }
  #main-banner .swiper-slide .banner-img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    max-height: 550px;
    height: 550px; }
  #main-banner .swiper-slide .btn, #main-banner .swiper-slide .btn-action, #main-banner .swiper-slide .btn-default, #main-banner .swiper-slide .btn-dark, #main-banner .swiper-slide .btn-light {
    font-size: 20px; }
    #main-banner .swiper-slide .btn .btn-icon, #main-banner .swiper-slide .btn-action .btn-icon, #main-banner .swiper-slide .btn-default .btn-icon, #main-banner .swiper-slide .btn-dark .btn-icon, #main-banner .swiper-slide .btn-light .btn-icon {
      margin: 0 5px; }
#main-banner .slide-1 .banner-content {
  padding-left: 200px;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box; }
#main-banner .slide-1 .banner-title {
  font-size: 55px;
  color: #ff7564;
  font-weight: 200;
  line-height: 1;
  text-shadow: 2px 4px 10px #222;
  opacity: 0;
  transform: translateX(40px);
  transition: all 1s ease; }
#main-banner .slide-1 .banner-desc {
  color: #dedede;
  font-size: 20px;
  display: block;
  width: 45%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  min-width: 200px;
  opacity: 0;
  transform: translateX(-40px);
  transition: all 1s ease; }
#main-banner .slide-1 .screen-img {
  visibility: visible;
  width: 37%;
  height: 83%;
  position: absolute;
  transform: scale(0.64);
  right: 8.5%;
  bottom: 8%;
  opacity: 0;
  transition: opacity 2s linear; }
#main-banner .slide-1 .btn-wrapper {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(-40px); }
#main-banner .slide-1.swiper-slide-active .screen-img {
  opacity: 1;
  transition-delay: 2s; }
#main-banner .slide-1.swiper-slide-active .banner-title {
  transition-delay: 4s;
  opacity: 1;
  transform: translateX(0px); }
#main-banner .slide-1.swiper-slide-active .banner-desc {
  transition-delay: 4s;
  opacity: 1;
  transform: translateX(0px); }
#main-banner .slide-1.swiper-slide-active .btn-wrapper {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 5s; }
#main-banner .slide-2 {
  color: #fff; }
  #main-banner .slide-2 .video-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    height: 550px;
    max-height: 550px;
    background-color: #303030;
    width: 100vw;
    z-index: -1; }
    #main-banner .slide-2 .video-wrapper video {
      opacity: 0;
      visibility: hidden;
      transition: all 2s ease; }
  #main-banner .slide-2 .overlay-text {
    color: rgba(255, 255, 255, 0.1);
    font-size: 400px;
    top: -40px;
    right: 200px;
    position: absolute;
    font-weight: 400;
    transition: opacity 1s ease;
    opacity: 0; }
  #main-banner .slide-2 .top-text {
    font-size: 80px;
    right: 50px;
    top: 30px;
    font-weight: lighter;
    position: absolute;
    transition: all 1s ease;
    z-index: 5;
    opacity: 0;
    transform: translateY(-40px); }
  #main-banner .slide-2 .bottom-text {
    font-size: 80px;
    right: 30px;
    top: 120px;
    font-weight: lighter;
    position: absolute;
    transition: all 1s ease;
    z-index: 5;
    opacity: 0;
    transform: translateY(40px); }
  #main-banner .slide-2.swiper-slide-active .video-wrapper video {
    visibility: visible;
    opacity: 1; }
  #main-banner .slide-2.swiper-slide-active .overlay-text {
    opacity: 1; }
  #main-banner .slide-2.swiper-slide-active .top-text {
    transition-delay: 1s;
    opacity: 1;
    transform: translateY(0); }
  #main-banner .slide-2.swiper-slide-active .bottom-text {
    transition-delay: 1.5s;
    opacity: 1;
    transform: translateY(0); }
#main-banner .slide-3 .flexbox {
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center; }
#main-banner .slide-3 .banner-content {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; }
#main-banner .slide-3 .banner-title {
  font-size: 55px;
  font-weight: 200;
  line-height: 1;
  text-shadow: 2px 4px 10px #222;
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
  text-align: center; }
#main-banner .slide-3 .banner-desc {
  text-align: right;
  font-size: 20px;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #fff;
  margin-bottom: 0;
  transition: all 1s ease;
  opacity: 0;
  transform: translateY(-40px); }
#main-banner .slide-3 .btn-light {
  transition: all 1s ease;
  opacity: 0;
  transform: translateY(40px); }
#main-banner .slide-3.swiper-slide-active .banner-title {
  transition-delay: 1s;
  opacity: 1;
  transform: translateY(0); }
#main-banner .slide-3.swiper-slide-active .banner-desc {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.5s; }
#main-banner .slide-3.swiper-slide-active .btn-light {
  transition-delay: 1.8s;
  opacity: 1;
  transform: translateY(0px); }
#main-banner .slide-4 .banner-content {
  padding-left: 200px;
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
  box-sizing: border-box;
  color: #fff; }
#main-banner .slide-4 h3 {
  font-size: 55px;
  font-weight: 200;
  line-height: 1;
  text-shadow: 2px 4px 10px #222;
  opacity: 0;
  transform: translateX(40px);
  transition: all 1s ease; }
#main-banner .slide-4 h2 {
  font-size: 80px;
  font-weight: 200;
  line-height: 1;
  text-shadow: 2px 4px 10px #222;
  opacity: 0;
  transform: translateX(-40px);
  transition: all 1s ease;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
  display: block;
  width: 50%; }
#main-banner .slide-4 p {
  font-size: 25px;
  margin-bottom: 0;
  transition: all 1s ease;
  width: 50%;
  opacity: 0;
  transform: translateY(-40px); }
#main-banner .slide-4.swiper-slide-active h3 {
  transition-delay: 1s;
  opacity: 1;
  transform: translateX(0); }
#main-banner .slide-4.swiper-slide-active h2 {
  transition-delay: 1.5s;
  opacity: 1;
  transform: translateX(0); }
#main-banner .slide-4.swiper-slide-active p {
  transition-delay: 2s;
  opacity: 1;
  transform: translateY(0); }
#main-banner .slide-5 .content {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 550px; }
#main-banner .slide-5 .phone-wrapper {
  width: 350px;
  height: 500px;
  left: 180px;
  bottom: 0;
  transform-origin: left bottom;
  opacity: 1;
  position: absolute;
  background: url("../images/iPhone6_mockup_front.png") no-repeat center;
  background-size: cover;
  color: #fff;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: all 1s ease; }
  #main-banner .slide-5 .phone-wrapper h5 {
    position: absolute;
    top: 230px;
    left: 0;
    font-size: 10px;
    color: #b0b0b0;
    font-weight: 400;
    text-align: center;
    width: 100%;
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(-40px); }
  #main-banner .slide-5 .phone-wrapper .phone-content {
    position: absolute;
    top: 300px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 4rem;
    text-align: center;
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(40px); }
    #main-banner .slide-5 .phone-wrapper .phone-content h4 {
      font-size: 18px;
      font-weight: 400;
      color: #aaa; }
    #main-banner .slide-5 .phone-wrapper .phone-content p {
      font-size: 10px;
      color: #707070;
      display: block;
      margin: 1rem 0; }
    #main-banner .slide-5 .phone-wrapper .phone-content .btn, #main-banner .slide-5 .phone-wrapper .phone-content .btn-action, #main-banner .slide-5 .phone-wrapper .phone-content .btn-default, #main-banner .slide-5 .phone-wrapper .phone-content .btn-dark, #main-banner .slide-5 .phone-wrapper .phone-content .btn-light {
      display: block;
      padding: 0.4em 1.5em;
      box-sizing: border-box;
      width: 100%; }
#main-banner .slide-5 .banner-content {
  position: absolute;
  width: 80%;
  top: 50%;
  min-width: 250px;
  max-width: 900px;
  right: 0;
  padding-right: 100px;
  transform: translateY(-50%);
  box-sizing: border-box; }
  #main-banner .slide-5 .banner-content h3 {
    font-size: 50px;
    border-bottom: 1px solid #fff;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    color: #1a1a1a;
    font-weight: 400;
    position: relative;
    display: inline-block;
    transform: translateX(40px);
    opacity: 0;
    transition: all 1s ease;
    transition-delay: 0.8s; }
    #main-banner .slide-5 .banner-content h3::before {
      content: "";
      width: 70%;
      background: #f14833;
      height: 1px;
      position: absolute;
      bottom: -1px;
      left: 0;
      z-index: 10; }
  #main-banner .slide-5 .banner-content p {
    font-size: 20px;
    margin-bottom: 2rem;
    transition: all 1s ease;
    transition-delay: 1.5s;
    opacity: 0;
    transform: translateX(40px); }
  #main-banner .slide-5 .banner-content .btn, #main-banner .slide-5 .banner-content .btn-action, #main-banner .slide-5 .banner-content .btn-default, #main-banner .slide-5 .banner-content .btn-dark, #main-banner .slide-5 .banner-content .btn-light {
    padding: 0.4em 1.5em;
    margin-right: 10px; }
  #main-banner .slide-5 .banner-content .btn-wrapper {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
    transition-delay: 2s; }
#main-banner .slide-5.swiper-slide-active .phone-wrapper {
  transform: translateY(0);
  transition-delay: 0.5s; }
  #main-banner .slide-5.swiper-slide-active .phone-wrapper h5 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.5s; }
  #main-banner .slide-5.swiper-slide-active .phone-wrapper .phone-content {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 2s; }
#main-banner .slide-5.swiper-slide-active .banner-content h3 {
  transform: translateX(0);
  opacity: 1; }
#main-banner .slide-5.swiper-slide-active .banner-content p {
  transform: translateX(0);
  opacity: 1; }
#main-banner .slide-5.swiper-slide-active .banner-content .btn-wrapper {
  opacity: 1;
  transform: translateY(0); }

@keyframes faded {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(40px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-40px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-40px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(40px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

/*# sourceMappingURL=main.css.map */
