html {
  font-size: 15px;
}

* {
  box-sizing: unset;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.57;
  font-family: "Open Sans", sans-serif;
  color: $text-color;
  line-height: 1.7;
  font-size: 1rem;
  background-color: $white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: $text-color;
}

a:hover {
  text-decoration: none;
}

button {
  border: 0;
}

button:focus,
button:active,
input:active,
input:focus,
textarea:active,
textarea:focus,
option:active,
option:focus,
select:active,
select:focus {
  outline: none;
}

button[disabled],
input[disabled] {
  cursor: default;
}

select {
  font-family: inherit;
}

textarea {
  resize: vertical;
  font-family: inherit;
}

input {
  font-family: inherit;
}

input::placeholder {
  font-family: inherit;
}

input[type="checkbox"] {
  margin: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

h2 {
  font-size: 33px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

h3 {
  font-size: 1.86rem;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

p {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  display: inline-block;
}

.clean {
  clear: both;
}

iframe {
  border: 0;
}

.img-wrapper {
  display: block;
  width: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}

.swiper-pagination-bullet-active {
  background: $primary;
  width: 30px;
  border-radius: 10px;
}

.owl-theme .owl-dots .owl-dot {
  span {
    width: 7px;
    height: 7px;
  }
  &.active {
    span {
      background: $primary;
      width: 30px;
      border-radius: 10px;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #efefef;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(197, 197, 197);
  transition: background-color 0.2s ease;
  &:hover {
    background-color: rgb(182, 182, 182);
  }
}
