section.sales {
  .grid {
    display: grid;
    grid-template-columns: 60% calc(40% - 2rem);
    grid-gap: 2rem;
    margin-bottom: 3rem;
  }
  .sale-wrapper {
    padding: 2rem;
    border: 1px solid #ddd;
  }
  .video-wrapper {
    padding-top: 75%;
    position: relative;
    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .head-wrap {
    text-align: right;
  }

  #swiper-quote {
    margin-top: 2.5rem;
    .swiper-pagination-bullet-active {
      background: $primary;
    }
    .swiper-pagination {
      text-align: left;
      padding-left: 1rem;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      padding: 1rem;
      border: 1px solid #ddd;
      box-sizing: border-box;
      .img-wrapper {
        width: 35%;
        margin-right: 1rem;
        img {
          border-radius: 50%;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  section.sales {
    .grid {
      display: block;
    }
    #swiper-quote {
      .swiper-pagination {
        text-align: center;
        padding-left: 0;
      }
    }
    .sale-wrapper {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 425px) {
  section.sales {
    #swiper-quote {
      .swiper-slide {
        padding-bottom: 30px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .img-wrapper {
          width: 80px;
          margin-bottom: 1rem;
          margin-right: 0;
          height: 80px;
        }
      }
    }
  }
}
