@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
html {
  font-size: 14px; }

* {
  box-sizing: unset; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  color: #555;
  line-height: 1.7;
  background-color: #fff; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

a {
  text-decoration: none;
  font-size: 1rem;
  color: #555; }

a:hover {
  text-decoration: none;
  color: #ff3f3e; }

button {
  border: 0; }

button:focus,
button:active,
input:active,
input:focus,
textarea:active,
textarea:focus,
option:active,
option:focus,
select:active,
select:focus {
  outline: none; }

button[disabled],
input[disabled] {
  cursor: default; }

select {
  font-family: inherit; }

textarea {
  resize: vertical;
  font-family: inherit; }

input {
  font-family: inherit; }

input::placeholder {
  font-family: inherit; }

input[type="checkbox"] {
  margin: 0;
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1; }

h1 {
  font-size: 47px;
  margin-top: 0.5rem;
  margin-bottom: 1rem; }

h2 {
  font-size: 32px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #040404; }

h4 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0; }

h5 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0; }

h6 {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0; }

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd; }

p {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1rem; }

b,
strong {
  font-weight: bold; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1rem; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

li {
  display: inline-block; }

.clean {
  clear: both; }

iframe {
  border: 0; }

.img-wrapper {
  display: block;
  width: 100%;
  position: relative; }
  .img-wrapper img {
    width: 100%;
    display: block;
    height: 100%; }

.swiper-container {
  width: 100%; }

.banner-wrap {
  position: relative; }
  .banner-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease; }
  .banner-wrap:hover::after {
    opacity: 1; }

.product-swiper .swiper-button-next,
.product-swiper .swiper-button-prev {
  color: #555; }
  .product-swiper .swiper-button-next:hover,
  .product-swiper .swiper-button-prev:hover {
    color: #ff3f3e; }
  .product-swiper .swiper-button-next::after,
  .product-swiper .swiper-button-prev::after {
    font-size: 2rem; }
.product-swiper .swiper-slide {
  padding: 5px 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  max-width: 1200px; }

.section-p {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.flexbox {
  display: flex; }

@media screen and (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem; } }
@media screen and (max-width: 426px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem; } }
.btn {
  padding: 1em 1.5em;
  border-radius: 0.4em;
  cursor: pointer;
  line-height: 1;
  display: inline-block; }

.btn-primary {
  color: #fff;
  background-color: #ff3f3e;
  transition: background-color 0.3s ease; }
  .btn-primary:hover {
    background-color: #f12424;
    color: #fff; }
  .btn-primary.outline {
    background-color: transparent;
    border: 1px solid #ff3f3e;
    color: #ff3f3e;
    box-sizing: border-box; }
    .btn-primary.outline:hover {
      background-color: #ff3f3e;
      color: #fff; }

.btn-white {
  color: #111;
  background: #fff;
  transition: color 0.3s ease, background-color 0.3s ease; }
  .btn-white:hover {
    background-color: #ff3f3e;
    color: #fff; }

.dropdown-content {
  opacity: 1;
  visibility: visible;
  position: absolute;
  transition: all 0.3s ease;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  z-index: 99; }
  .dropdown-content:hover .dropdown-content {
    opacity: 1;
    visibility: visible; }

.dropdown-menu {
  display: none;
  overflow: hidden;
  transition: height 0.5s ease; }
  .dropdown-menu.open {
    display: block; }

.dropdown-handle:hover .dropdown-content {
  opacity: 1;
  visibility: visible; }

.product-card {
  max-width: 400px;
  box-sizing: border-box;
  padding: 1rem; }
  .product-card:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1); }
    .product-card:hover .product-header .overlay {
      opacity: 1;
      transform: translateY(0); }
  .product-card .product-header {
    position: relative;
    overflow: hidden;
    display: block; }
    .product-card .product-header .overlay {
      position: absolute;
      z-index: 30;
      bottom: 0;
      transform: translateY(100%);
      opacity: 0;
      transition: all 0.4s ease;
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      width: 100%;
      text-align: center;
      grid-gap: 0.5rem; }
      .product-card .product-header .overlay a {
        display: block;
        color: #fff;
        background-color: #ff3f3e;
        padding: 0.4em 0;
        font-size: 13px; }
        .product-card .product-header .overlay a:hover {
          background-color: #f12424; }
  .product-card .product-content {
    padding: 1.5rem 0;
    text-align: center; }
  .product-card .rating {
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 1rem; }
    .product-card .rating .fas {
      color: #ff3f3e; }
  .product-card .product-name {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem; }
  .product-card .price-wrap del {
    font-size: 13px;
    margin: 0 10px; }
  .product-card .price-wrap strong {
    color: #ff3f3e;
    font-size: 20px; }

.blog-card {
  max-width: 400px;
  width: 100%; }
  .blog-card .card-header .img-wrapper {
    position: relative; }
    .blog-card .card-header .img-wrapper::before {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 0;
      transition: opacity 0.3s ease;
      width: 100%;
      height: 100%; }
    .blog-card .card-header .img-wrapper:hover::before {
      opacity: 1; }
  .blog-card .card-body {
    padding: 1rem 0; }
  .blog-card .timeline {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #888;
    font-size: 13px; }
  .blog-card .blog-title {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    display: block;
    margin: 0.5rem 0;
    transition: color 0.3s ease; }
    .blog-card .blog-title:hover {
      color: #ff3f3e; }
  .blog-card .btn-readmore {
    background-color: #ff3f3e;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 0;
    padding: 0.7em 1.5em;
    transition: background-color 0.3s ease; }
    .blog-card .btn-readmore:hover {
      background-color: #f12424; }

.text-primary {
  color: #ff3f3e !important; }

.text-center {
  text-align: center !important; }

.tabs-container {
  width: 100%; }
  .tabs-container .nav-tabs {
    display: flex;
    width: 100%;
    justify-content: center; }
    .tabs-container .nav-tabs .nav-item {
      display: inline-block;
      font-size: 1rem;
      line-height: 1;
      margin: 0 1.5rem;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      position: relative; }
      .tabs-container .nav-tabs .nav-item.active {
        font-weight: bold;
        border-bottom: 2px solid #ff3f3e;
        color: #ff3f3e; }
  .tabs-container .tab-content {
    width: 100%;
    overflow: hidden;
    position: relative; }
    .tabs-container .tab-content .tab {
      transition: all 0.5s ease;
      padding: 2rem 0;
      width: 100%;
      position: absolute;
      left: 100%;
      transform: translateX(-100%);
      opacity: 0; }
      .tabs-container .tab-content .tab.active {
        visibility: visible;
        position: relative;
        opacity: 1;
        left: 0;
        transform: unset; }

@media screen and (max-width: 425px) {
  .tabs-container .nav-tabs .nav-item {
    font-size: 10px; } }
#header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 999; }
  #header li {
    display: block; }
  #header .logo-wrapper img {
    max-width: 100%; }
  #header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #header .nav-link {
    color: #fff;
    display: block;
    font-size: 15px;
    line-height: 1;
    font-weight: bold; }
  #header .nav-item {
    padding: 0 10px;
    display: inline-block;
    margin-right: 5px; }
  #header .dropdown-handle > .nav-link {
    position: relative; }
    #header .dropdown-handle > .nav-link::before {
      content: "";
      width: 100%;
      height: 50px;
      position: absolute;
      background: transparent;
      top: 100%;
      position: absolute; }
  #header .dropdown-handle:hover .dropdown-content {
    top: 100%; }
  #header .header__nav .nav-link {
    padding: 12px 15px;
    position: relative; }
  #header .header__nav .dropdown-handle {
    background-color: transparent;
    transition: background-color 0.3s ease;
    border-radius: 5px; }
    #header .header__nav .dropdown-handle.active {
      background-color: #ff3f3e; }
    #header .header__nav .dropdown-handle:hover {
      background-color: #ff3f3e; }
    #header .header__nav .dropdown-handle > a::after {
      content: "\f107";
      font-family: "Font Awesome\ 5 Free";
      font-weight: 900;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0; }
  #header .dropdown-content {
    position: absolute;
    top: 120%;
    background-color: #fff;
    padding: 1rem; }
    #header .dropdown-content.large-menu {
      left: 25%; }
    #header .dropdown-content a {
      color: #7d7d7d; }
      #header .dropdown-content a:hover {
        color: #ff3f3e; }
    #header .dropdown-content .col-title {
      padding-bottom: 1rem;
      line-height: 1;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #ddd;
      font-size: 15px;
      color: #333; }
    #header .dropdown-content .column {
      min-width: 150px; }
      #header .dropdown-content .column:not(:last-child) {
        margin-right: 20px; }
      #header .dropdown-content .column li {
        margin-bottom: 1rem; }
        #header .dropdown-content .column li a {
          display: block; }
          #header .dropdown-content .column li a.active {
            color: #ff3f3e; }
    #header .dropdown-content.flower-menu {
      background: url("../images/bg-menu.jpg") no-repeat bottom center;
      background-size: cover; }
      #header .dropdown-content.flower-menu .col-title {
        border-bottom: 0;
        position: relative; }
        #header .dropdown-content.flower-menu .col-title::before {
          content: "";
          bottom: 0;
          left: 0;
          position: absolute;
          background-color: #ff3f3e;
          height: 2px;
          width: 50px; }
  #header .cart-content {
    transform: translateX(-50%);
    width: 300px; }
    #header .cart-content .btn {
      color: #fff; }
      #header .cart-content .btn:hover {
        color: #fff; }
    #header .cart-content .price-wrapper,
    #header .cart-content .btn-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem; }
  #header .account-dropdown {
    transform: translateX(-50%); }
    #header .account-dropdown li {
      margin-bottom: 0.8rem; }
      #header .account-dropdown li a {
        white-space: nowrap;
        display: block; }
  #header #search-toggle .fa-times {
    display: none; }
  #header #search-toggle.on-open .fa-times {
    display: inline-block; }
  #header #search-toggle.on-open .fa-search {
    display: none; }
  #header #search-form {
    position: absolute;
    z-index: 99;
    top: 120%;
    transform: translateX(-50%) translateY(-10px);
    background-color: #fff;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease; }
    #header #search-form .form-group {
      display: flex;
      border: 1px solid #ddd;
      padding: 10px 15px; }
      #header #search-form .form-group input {
        padding-left: 0;
        border: 0;
        width: 100%;
        padding-right: 10px; }
      #header #search-form .form-group button[type="submit"] {
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        padding: 0; }
    #header #search-form.active {
      opacity: 1;
      visibility: visible;
      top: 100%; }
  #header .header-interact .nav-link:hover:hover {
    color: #ff3f3e; }

section.main-banner .swiper-pagination-bullet-active {
  background: #fff;
  width: 30px;
  border-radius: 10px; }
section.main-banner .swiper-pagination-bullet {
  background: #fff;
  opacity: 1; }
section.main-banner .swiper-slide {
  width: 100%;
  height: 100vh;
  position: relative; }
  section.main-banner .swiper-slide .img-wrapper {
    height: 100%; }
  section.main-banner .swiper-slide .banner-content {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 47px; }
    section.main-banner .swiper-slide .banner-content .sub-title {
      font-size: 55%;
      color: #fff; }
    section.main-banner .swiper-slide .banner-content .banner-title {
      font-size: 100%;
      line-height: 1;
      margin: 1.5rem 0;
      letter-spacing: 1.5px;
      font-weight: 500; }
    section.main-banner .swiper-slide .banner-content .btn {
      margin: 1rem 0;
      font-size: 36%;
      font-weight: 700;
      border-radius: 3em;
      line-height: 1;
      padding: 0.9em 2em; }
    section.main-banner .swiper-slide .banner-content .banner-desc {
      font-size: 34%;
      margin: 1rem auto 1rem auto;
      width: 50%; }
section.main-banner .banner-grid {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-gap: 2rem;
  grid-template-areas: "b1 b2 b4" "b1 b3 b4"; }
  section.main-banner .banner-grid .b-1 {
    grid-area: b1; }
  section.main-banner .banner-grid .b-2 {
    grid-area: b2; }
  section.main-banner .banner-grid .b-3 {
    grid-area: b3; }
  section.main-banner .banner-grid .b-4 {
    grid-area: b4; }

section.top-product .tabs-container .tab-content .tab {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  padding-left: 10px;
  padding-right: 10px; }
section.top-product .banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem; }

section.sales .grid {
  display: grid;
  grid-template-columns: 60% calc(40% - 2rem);
  grid-gap: 2rem;
  margin-bottom: 3rem; }
section.sales .sale-wrapper {
  padding: 2rem;
  border: 1px solid #ddd; }
section.sales .video-wrapper {
  padding-top: 75%;
  position: relative; }
  section.sales .video-wrapper iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }
section.sales .head-wrap {
  text-align: right; }
section.sales #swiper-quote {
  margin-top: 2.5rem; }
  section.sales #swiper-quote .swiper-pagination-bullet-active {
    background: #ff3f3e; }
  section.sales #swiper-quote .swiper-pagination {
    text-align: left;
    padding-left: 1rem; }
  section.sales #swiper-quote .swiper-slide {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
    box-sizing: border-box; }
    section.sales #swiper-quote .swiper-slide .img-wrapper {
      width: 35%;
      margin-right: 1rem; }
      section.sales #swiper-quote .swiper-slide .img-wrapper img {
        border-radius: 50%;
        height: auto; }

section.gift .grid {
  display: grid;
  grid-template-columns: 35% calc(65% - 2rem);
  grid-gap: 2rem;
  margin-bottom: 3rem; }
section.gift .deal-item,
section.gift .gift-wrapper {
  padding: 2rem;
  border: 1px solid #ddd;
  box-sizing: border-box; }
section.gift .deal-item .card .card-header {
  position: relative; }
  section.gift .deal-item .card .card-header .badge {
    position: absolute;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    z-index: 10;
    background-color: #36a2fe;
    line-height: 1;
    top: 15px;
    right: 15px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding-right: 5px; }
    section.gift .deal-item .card .card-header .badge::before {
      content: "";
      border: 10px solid transparent;
      border-right-color: #36a2fe;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateX(-100%) translateY(-50%); }
  section.gift .deal-item .card .card-header .deal-icon {
    position: absolute;
    z-index: 20;
    top: 15px;
    left: 15px; }
section.gift .deal-item .card .product-title {
  margin: 1rem 0;
  display: block;
  text-align: center; }
  section.gift .deal-item .card .product-title a {
    font-size: 18px;
    font-weight: bold;
    color: #ff3f3e; }
section.gift .deal-item .card .action-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  section.gift .deal-item .card .action-wrap .btn {
    padding: 0.5em 1em;
    font-size: 13px; }
  section.gift .deal-item .card .action-wrap .price-wrap strong {
    color: #ff3f3e;
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px; }

section.blog .blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; }

section.services {
  margin-top: 5rem; }
  section.services .service-container {
    padding: 2rem 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  section.services .service-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem; }
    section.services .service-list .service {
      cursor: pointer; }
      section.services .service-list .service .service-icon {
        display: block;
        margin-right: 1.2rem;
        line-height: 1;
        font-size: 50px;
        color: #ff3f3e;
        float: left; }
      section.services .service-list .service .service-content {
        float: left;
        padding-top: 10px; }
      section.services .service-list .service .service-title {
        font-weight: bold;
        font-size: 18px;
        color: #ff3f3e; }
  section.services .sign-form {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    align-items: center; }
    section.services .sign-form h3 {
      white-space: nowrap;
      margin: 0; }
    section.services .sign-form .form-group {
      margin-left: 40px;
      display: flex;
      width: 100%;
      max-width: 500px;
      min-width: 250px; }
      section.services .sign-form .form-group input[type="email"] {
        background-color: #f8f8f8;
        border: 0;
        width: 100%;
        padding-left: 15px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-bottom-left-radius: 0.3em;
        border-top-left-radius: 0.3em; }
      section.services .sign-form .form-group .btn {
        border-radius: 0;
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        white-space: nowrap;
        font-weight: bold;
        padding-left: 1em;
        padding-right: 1em; }

#footer .footer-content {
  background-color: #f8f8f8;
  padding: 5rem 0; }
#footer .footer-row {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1fr;
  grid-gap: 2rem; }
  #footer .footer-row .logo-wrapper {
    margin-bottom: 2rem;
    max-width: 120px; }
    #footer .footer-row .logo-wrapper img {
      max-width: 100%; }
#footer .column .col-title {
  font-size: 18px;
  position: relative;
  padding-bottom: 0.5rem;
  color: #000;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #787878;
  display: inline-block; }
#footer .column li {
  display: block;
  margin-bottom: 1rem; }
  #footer .column li .footer-link {
    position: relative; }
    #footer .column li .footer-link::before {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-weight: bold; }
  #footer .column li i {
    margin-right: 5px; }
#footer .copyright {
  padding: 1rem 0;
  text-align: center;
  color: #666; }
  #footer .copyright .socials ul {
    display: flex;
    justify-content: center; }
    #footer .copyright .socials ul li {
      margin: 0 1.5rem; }
      #footer .copyright .socials ul li a {
        color: #000;
        transition: color 0.3s ease;
        font-size: 15px; }
        #footer .copyright .socials ul li a:hover {
          color: #ff3f3e; }

/*# sourceMappingURL=main.css.map */
