@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
html {
  font-size: 15px; }

* {
  box-sizing: unset; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.57;
  font-family: "Open Sans", sans-serif;
  color: #333e48;
  line-height: 1.7;
  font-size: 1rem;
  background-color: #ffffff; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

a {
  text-decoration: none;
  font-size: 1rem;
  color: #333e48; }

a:hover {
  text-decoration: none; }

button {
  border: 0; }

button:focus,
button:active,
input:active,
input:focus,
textarea:active,
textarea:focus,
option:active,
option:focus,
select:active,
select:focus {
  outline: none; }

button[disabled],
input[disabled] {
  cursor: default; }

select {
  font-family: inherit; }

textarea {
  resize: vertical;
  font-family: inherit; }

input {
  font-family: inherit; }

input::placeholder {
  font-family: inherit; }

input[type="checkbox"] {
  margin: 0;
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: 400; }

h1 {
  font-size: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }

h2 {
  font-size: 33px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300; }

h3 {
  font-size: 1.86rem;
  margin-top: 0;
  margin-bottom: 0; }

h4 {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0; }

h5 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0; }

h6 {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0; }

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd; }

p {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1rem; }

b,
strong {
  font-weight: bold; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1rem; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

li {
  display: inline-block; }

.clean {
  clear: both; }

iframe {
  border: 0; }

.img-wrapper {
  display: block;
  width: 100%;
  position: relative; }
  .img-wrapper img {
    width: 100%;
    height: 100%; }

.swiper-pagination-bullet-active {
  background: #fed700;
  width: 30px;
  border-radius: 10px; }

.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px; }
.owl-theme .owl-dots .owl-dot.active span {
  background: #fed700;
  width: 30px;
  border-radius: 10px; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #efefef;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #c5c5c5;
  transition: background-color 0.2s ease; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #b6b6b6; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 1400px; }

.section-p {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.flexbox {
  display: flex; }

@media screen and (max-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem; } }
@media screen and (max-width: 426px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem; } }
.product-swiper {
  width: 100%;
  overflow: hidden; }
  .product-swiper .swiper-wrapper {
    z-index: 20;
    position: relative;
    background-color: transparent;
    padding-bottom: 40px; }
  .product-swiper .swiper-slide {
    padding: 2px 0;
    position: relative;
    z-index: 10; }
  .product-swiper .item {
    padding-top: 5px;
    padding-bottom: 5px; }
  .product-swiper .swiper-pagination {
    position: relative;
    transform: translateY(10px); }

.item-product-list .item-product {
  margin-bottom: 1rem;
  min-height: 100px;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 10px;
  width: 100%; }
  .item-product-list .item-product .img-wrapper img {
    height: 100%;
    display: block; }
  .item-product-list .item-product .product-content {
    box-sizing: border-box; }
  .item-product-list .item-product .product-name {
    color: #0062bd;
    font-size: 1rem;
    font-weight: bold; }
  .item-product-list .item-product .price ins {
    text-decoration: none;
    font-size: 1.1rem;
    color: #333e48; }
  .item-product-list .item-product .price del {
    color: #8f8f8f;
    font-size: 12px;
    display: inline-block; }
  .item-product-list .item-product .rating {
    color: #fdd700;
    display: flex;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 15px; }

.btn {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  border: 0; }

.btn-primary {
  background-color: #fed700;
  transition: all 0.3s ease; }
  .btn-primary:hover {
    color: #000000;
    background-color: #dfbd01; }

.btn-secondary {
  background-color: #343e48;
  transition: background-color 0.3s ease;
  color: #ffffff; }
  .btn-secondary:hover {
    background-color: #000000; }

#top-btn {
  position: fixed;
  background-color: #fed700;
  opacity: 0.6;
  color: #ffffff;
  cursor: pointer;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  font-size: 1.5rem;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: none; }
  #top-btn:hover {
    opacity: 1; }
  #top-btn.block {
    display: block; }

.social-icon {
  font-size: 22px;
  line-height: 1;
  color: #7c7c7c;
  transition: color 0.3s ease; }

.pinterest-icon:hover {
  color: #bd081c !important; }

.fb-icon:hover {
  color: #4267b2 !important; }

.twitter-icon:hover {
  color: #55acef !important; }

.linkedin-icon:hover {
  color: #0077b5 !important; }

.rss-icon:hover {
  color: #f36524 !important; }

.youtube-icon:hover {
  color: #ce201f !important; }

.instagram-icon:hover {
  color: #f25a00 !important; }

.whatsapp-icon:hover {
  color: #6adf6a !important; }

.text-center {
  text-align: center !important; }

.text-danger {
  color: #ee0000 !important; }

.text-primary {
  color: #fed700 !important; }

.section-head {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  .section-head .section-title {
    font-size: 22px;
    display: inline-block; }
    .section-head .section-title::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #ddd;
      bottom: 0;
      left: 0;
      z-index: 5; }
    .section-head .section-title::before {
      content: "";
      position: absolute;
      width: 40%;
      min-width: 100px;
      max-width: 200px;
      height: 2px;
      background-color: #fed700;
      bottom: 0;
      left: 0;
      z-index: 10; }
  .section-head .nav .nav-item {
    display: inline-block;
    margin-right: 5px; }
  .section-head .nav .nav-link {
    padding: 0.4em 1em;
    display: block;
    border-radius: 2em;
    line-height: 1;
    color: #7b8186;
    font-size: 15px; }
    .section-head .nav .nav-link.active {
      border: 2px solid #fed700; }

@media screen and (max-width: 768px) {
  .section-head {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start; }
    .section-head .section-title {
      margin-bottom: 2rem;
      font-weight: 700;
      font-size: 17px;
      position: relative;
      padding-bottom: 0.7rem;
      display: block;
      width: 100%; }
    .section-head .nav {
      display: flex;
      overflow: scroll;
      width: 100%; }
      .section-head .nav .nav-link {
        white-space: nowrap; } }
.tooltip {
  position: relative; }
  .tooltip .tooltip-text {
    white-space: nowrap;
    min-width: 50px;
    position: absolute;
    color: #ffffff;
    background: #000000;
    font-size: 0.8rem;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    line-height: 1;
    padding: 5px 7px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    display: none; }
    .tooltip .tooltip-text::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-top: #000000 5px solid;
      border-left: transparent 5px solid;
      border-right: transparent 5px solid;
      border-bottom: transparent 5px solid; }
    .tooltip .tooltip-text.left {
      top: 50%;
      left: 0;
      transform: translate(calc(-100% - 7px), -50%); }
      .tooltip .tooltip-text.left::after {
        border-color: transparent;
        border-left-color: #000000;
        left: unset;
        bottom: unset;
        top: 50%;
        right: -10px;
        transform: translateY(-50%); }
    .tooltip .tooltip-text.bottom {
      top: 100%;
      transform: translate(-50%, 50%); }
      .tooltip .tooltip-text.bottom::after {
        border-color: transparent;
        border-bottom-color: #000000;
        top: -10px; }
  .tooltip:hover .tooltip-text {
    display: block;
    animation: faded 0.4s; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999;
  opacity: 0;
  visibility: hidden; }
  .modal .modal-center {
    min-width: 280px;
    width: 40%;
    margin: 40px auto 0 auto;
    background: #ffffff;
    border-radius: 3px;
    opacity: 1;
    box-sizing: border-box;
    padding: 15px;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 0.3s ease; }
    .modal .modal-center.large-modal {
      width: 60%; }
    .modal .modal-center .modal-header,
    .modal .modal-center .modal-body {
      padding: 15px 20px;
      position: relative; }
    .modal .modal-center .modal-title {
      margin: 0;
      font-size: 2.12rem;
      font-weight: 300;
      display: flex;
      align-items: center; }
    .modal .modal-center .close {
      position: absolute;
      top: -5px;
      right: 5px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: 1px solid #000000;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      background: transparent;
      font-size: 1.8rem;
      opacity: 0.4;
      line-height: 1;
      cursor: pointer; }
      .modal .modal-center .close:hover {
        opacity: 1; }
    .modal .modal-center.on-open {
      opacity: 1;
      transform: translateY(0); }
  .modal .right-sidebar {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
    height: 100vh;
    overflow: auto; }
    .modal .right-sidebar.on-open {
      transform: translateX(0); }
  .modal .left-sidebar {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
    height: 100vh;
    overflow: auto;
    color: #ffffff; }
    .modal .left-sidebar.on-open {
      transform: translateX(0); }
  .modal.open {
    opacity: 1;
    visibility: visible; }

@media screen and (max-width: 768px) {
  .modal .modal-center {
    width: 80%; }
    .modal .modal-center .modal-title {
      font-size: 1.3rem; } }
@media screen and (max-width: 550px) {
  .modal .modal-center {
    width: 95%; }
    .modal .modal-center .modal-header,
    .modal .modal-center .modal-body {
      padding: 20px 0px; } }
.card-product {
  position: relative;
  box-sizing: border-box;
  background-color: transparent; }
  .card-product .product-container {
    padding: 15px;
    background-color: #ffffff; }
  .card-product .tag {
    font-size: 12px;
    color: #999;
    transition: color 0.2s ease; }
    .card-product .tag:hover {
      color: #333; }
  .card-product .img-wrapper img {
    max-width: 300px;
    max-height: 300px;
    height: auto; }
  .card-product .product-title {
    display: block;
    height: 40px;
    overflow: hidden; }
    .card-product .product-title a {
      display: block;
      font-size: 1rem;
      line-height: 1.4;
      color: #0062bd;
      font-weight: 700; }
  .card-product .price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
    background-color: #ffffff; }
    .card-product .price-wrap .price {
      font-size: 20px;
      line-height: 1;
      color: #343f49;
      display: block;
      width: calc(100% - 35px);
      box-sizing: border-box;
      padding-right: 15px; }
      .card-product .price-wrap .price ins {
        color: #ee0000;
        display: inline-block;
        text-decoration: none; }
      .card-product .price-wrap .price del {
        font-size: 12px;
        color: #999;
        display: inline-block;
        margin-left: 5px; }
    .card-product .price-wrap .cart-btn {
      font-size: 1.1rem;
      font-weight: 700;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      color: #ffffff;
      background-color: #ddd;
      transition: background-color 0.3s ease; }
  .card-product .hover-wrap {
    position: absolute;
    bottom: 5px;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.2), -1px 4px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; }
    .card-product .hover-wrap a {
      font-size: 12px;
      color: #999;
      transition: color 0.2s ease; }
      .card-product .hover-wrap a:hover {
        color: #333; }
    .card-product .hover-wrap .wishlist {
      position: relative; }
      .card-product .hover-wrap .wishlist::before {
        content: "\f004";
        font-family: "Font Awesome 5 Free";
        margin-right: 5px; }
    .card-product .hover-wrap .compare {
      position: relative; }
      .card-product .hover-wrap .compare::before {
        content: "\e61b";
        font-family: "Pe-icon-7-stroke";
        margin-right: 5px;
        font-weight: bold;
        font-size: 1rem;
        vertical-align: middle; }
    .card-product .hover-wrap::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 30px);
      height: 0;
      border-top: 1px solid #ddd;
      display: block; }
  .card-product:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    background-color: #ffffff; }
    .card-product:hover .hover-wrap {
      opacity: 1;
      visibility: visible; }
    .card-product:hover .price-wrap .cart-btn {
      background-color: #fed700; }
  .card-product .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 75px));
    grid-gap: 1rem; }
    .card-product .gallery-wrapper .img-wrapper {
      border: 1px solid #ddd; }
      .card-product .gallery-wrapper .img-wrapper:hover {
        border-bottom: 2px solid #fed700; }
  .card-product.large-card .img-wrapper img {
    max-width: 100%;
    height: auto; }

.swiper-slide .card-product {
  width: 100%; }

.tabs-container {
  width: 100%; }
  .tabs-container .nav-tabs {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    justify-content: center; }
    .tabs-container .nav-tabs .nav-item {
      display: inline-block;
      font-size: 18px;
      line-height: 1;
      padding: 0.5em 1.5em;
      margin: 0 2px;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      color: #333e48;
      position: relative; }
      .tabs-container .nav-tabs .nav-item.active {
        border-bottom: 2px solid #fed700;
        font-weight: bold; }
        .tabs-container .nav-tabs .nav-item.active::after {
          content: " ";
          height: 4px;
          width: 10px;
          display: block;
          position: absolute;
          bottom: -5px;
          left: 50%;
          border-radius: 0 0 10px 10px;
          transform: translateX(-50%);
          background-color: #fed700; }
  .tabs-container .tab-content {
    width: 100%;
    overflow: hidden;
    position: relative; }
    .tabs-container .tab-content .tab {
      transition: all 0.5s ease;
      padding: 2rem 0;
      width: 100%;
      position: absolute;
      left: 100%;
      transform: translateX(-100%);
      opacity: 0; }
      .tabs-container .tab-content .tab.active {
        display: block;
        visibility: visible;
        position: relative;
        opacity: 1;
        left: 0;
        transform: unset; }

@media screen and (max-width: 425px) {
  .tabs-container .nav-tabs .nav-item {
    font-size: 10px; } }
#header {
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.3);
  position: relative; }
  #header .header-nav {
    background-color: #fed700;
    padding: 0.7rem 0; }
    #header .header-nav .icon-wrapper {
      display: block;
      padding: 0 1rem; }
      #header .header-nav .icon-wrapper i {
        font-size: 20px; }
    #header .header-nav .logo-wrapper {
      display: inline-block; }
      #header .header-nav .logo-wrapper svg {
        width: 126px;
        height: 100%; }
    #header .header-nav .container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    #header .header-nav .search-form {
      width: 100%;
      min-width: 600px;
      max-width: 900px;
      box-sizing: border-box;
      padding: 0 2rem; }
      #header .header-nav .search-form input {
        color: #818181;
        font-size: 15px; }
        #header .header-nav .search-form input::placeholder {
          color: #818181ce; }
      #header .header-nav .search-form .select-group {
        position: relative; }
        #header .header-nav .search-form .select-group::after {
          content: "";
          background: #ffffff url("../images/dropdown-icon.png") no-repeat center;
          background-size: 8px;
          position: absolute;
          z-index: 5;
          display: block;
          right: 0;
          top: 0;
          width: 40px;
          height: 40px; }
        #header .header-nav .search-form .select-group select {
          border: 0;
          display: block;
          height: 100%;
          color: #6b6b6b;
          width: 130px; }
      #header .header-nav .search-form button[type="submit"] {
        padding: 0;
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center; }
    #header .header-nav .header-interact ul {
      display: flex; }
    #header .header-nav .header-cart {
      position: relative;
      white-space: nowrap; }
      #header .header-nav .header-cart i {
        font-weight: bold; }
      #header .header-nav .header-cart .badge {
        position: absolute;
        font-size: 12px;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border-radius: 50%;
        bottom: -5px;
        left: 24px;
        font-weight: 700;
        z-index: 5; }
      #header .header-nav .header-cart .cash {
        font-weight: 700;
        font-size: 1.1rem;
        color: #333e48;
        margin-left: 5px; }
  #header .sub-nav {
    background-color: #ffffff; }
    #header .sub-nav .dropdown-handle > a {
      position: relative; }
      #header .sub-nav .dropdown-handle > a .fa {
        vertical-align: middle;
        font-size: 10px; }
    #header .sub-nav .dropdown-content {
      background-color: #ffffff;
      padding: 1rem;
      box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.3);
      border-top: 2px solid #fed700;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
      #header .sub-nav .dropdown-content .group-title {
        font-weight: bold;
        display: block;
        margin-bottom: 0.8em;
        margin-top: 0.8rem; }
      #header .sub-nav .dropdown-content li {
        display: block;
        margin: 0; }
        #header .sub-nav .dropdown-content li a {
          display: block; }
    #header .sub-nav .container {
      display: flex;
      align-items: center; }
    #header .sub-nav .first-menu > a {
      white-space: nowrap;
      display: block;
      height: 40px;
      line-height: 40px; }
    #header .sub-nav .first-menu .dropdown-content {
      min-width: 250px; }
      #header .sub-nav .first-menu .dropdown-content li:not(:last-child) {
        border-bottom: 1px solid #ddd; }
      #header .sub-nav .first-menu .dropdown-content li a {
        background-color: #ffffff;
        line-height: 2.5;
        padding: 0 5px;
        box-sizing: border-box; }
        #header .sub-nav .first-menu .dropdown-content li a:hover {
          background-color: #eee; }
      #header .sub-nav .first-menu .dropdown-content .sidemenu-toggle > a {
        position: relative; }
        #header .sub-nav .first-menu .dropdown-content .sidemenu-toggle > a:hover {
          font-weight: bold; }
          #header .sub-nav .first-menu .dropdown-content .sidemenu-toggle > a:hover .fa {
            color: #333e48; }
        #header .sub-nav .first-menu .dropdown-content .sidemenu-toggle > a .fa {
          float: right;
          line-height: 2.5;
          color: #b1b1b1; }
    #header .sub-nav .second-menu {
      padding-left: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      #header .sub-nav .second-menu .dropdown-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 60px;
        padding: 0.5rem 1rem 2rem 1rem; }
        #header .sub-nav .second-menu .dropdown-content a {
          line-height: 2;
          font-size: 13px; }
          #header .sub-nav .second-menu .dropdown-content a:hover {
            text-decoration: underline; }
        #header .sub-nav .second-menu .dropdown-content li {
          margin: 0; }
      #header .sub-nav .second-menu li {
        margin-left: 1.5rem; }
      #header .sub-nav .second-menu .second-menu-link {
        font-size: 13px;
        line-height: 40px;
        height: 40px;
        display: block; }
  #header #search-toggle {
    display: none; }
    #header #search-toggle .fa-times {
      display: none; }
    #header #search-toggle.on-open .fa-times {
      display: block; }
    #header #search-toggle.on-open .fa-search {
      display: none; }

#mb-search-form {
  position: absolute;
  bottom: -50px;
  width: 100%;
  left: 0;
  background-color: #ffffff;
  z-index: 90;
  transform: translateY(100%);
  box-shadow: 0 4px 3px 0 rgba(1, 1, 1, 0.1);
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  display: none; }
  #mb-search-form .container {
    display: flex; }
  #mb-search-form input {
    width: 100%;
    float: left;
    background-color: #ffffff;
    color: #919191;
    font-size: 1rem;
    padding: 1.5rem 0 1.5rem 0;
    border: 0; }
    #mb-search-form input::placeholder {
      color: #919191; }
  #mb-search-form .submit-btn {
    background-color: transparent;
    padding-right: 2rem; }
  #mb-search-form.active {
    opacity: 1;
    visibility: visible;
    bottom: 0; }

@media screen and (max-width: 1250px) {
  #header .header-nav .header-interact .compare-link {
    display: none !important; }
  #header .header-nav .header-interact .whishlist-link {
    display: none !important; }
  #header .header-nav .search-form {
    display: none; }
  #header .sub-nav {
    display: none; }
  #header #search-toggle {
    display: block; }
  #header .header-cart .cash {
    display: none; }

  #mb-search-form {
    display: block; } }
@media screen and (max-width: 425px) {
  #header .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }

  #header .header-nav .icon-wrapper {
    padding: 0 0.5rem; } }
form .form-group-btn:last-child {
  display: flex; }
  form .form-group-btn:last-child .form-control:first-child {
    border-radius: 2em;
    display: block;
    width: 100%;
    border: 0;
    font-size: 1rem;
    padding-left: 30px;
    height: 40px;
    box-sizing: border-box;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ffffff; }
  form .form-group-btn:last-child .btn {
    border-radius: 2em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
    height: 40px;
    box-sizing: border-box;
    white-space: nowrap; }

.dropdown-content {
  opacity: 1;
  visibility: visible;
  position: absolute;
  transition: all 0.3s ease;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  z-index: 99; }
  .dropdown-content:hover .dropdown-content {
    opacity: 1;
    visibility: visible; }

.dropdown-menu {
  display: none;
  overflow: hidden;
  transition: height 0.5s ease; }
  .dropdown-menu.open {
    display: block; }

.dropdown-handle:hover .dropdown-content {
  opacity: 1;
  visibility: visible; }

#product-sidebar .modal-content {
  background-color: #333333;
  width: 40%;
  min-width: 270px;
  max-width: 300px;
  overflow-y: auto; }
#product-sidebar .dropdown-menu li a {
  background-color: #000000; }
#product-sidebar li {
  display: block; }
  #product-sidebar li a {
    display: block;
    padding: 1rem 1.5rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.7);
    background-color: #333;
    border-bottom: 1px solid #232323;
    transition: background-color 0.3s ease; }
    #product-sidebar li a:hover {
      background-color: #434343; }
#product-sidebar .dropdown-toggle.on-open > a::after {
  content: "\e682"; }
#product-sidebar .dropdown-toggle > a {
  position: relative; }
  #product-sidebar .dropdown-toggle > a::after {
    content: "\e688";
    font-family: "Pe-icon-7-stroke";
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }

section.main-banner {
  margin-top: 3rem;
  margin-bottom: 2rem; }
  section.main-banner .banner-content {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-gap: 2rem; }
    section.main-banner .banner-content .swiper-container {
      width: 100%; }
  section.main-banner .swiper-slide {
    background: #ffffff url("../images/slider-v4-background.jpg") no-repeat bottom center;
    background-size: cover;
    height: 100%;
    max-height: 480px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    padding: 5% 8%;
    display: flex;
    color: #333e48;
    font-size: 3.5vw; }
    section.main-banner .swiper-slide .btn {
      font-size: 26%;
      padding: 1em 3em; }
    section.main-banner .swiper-slide .main-title {
      font-size: 90%;
      font-weight: lighter;
      margin: 0;
      line-height: 1; }
    section.main-banner .swiper-slide .sub-title {
      font-size: 35%;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase; }
    section.main-banner .swiper-slide .img-wrapper {
      flex: 1; }
      section.main-banner .swiper-slide .img-wrapper img {
        height: auto; }
    section.main-banner .swiper-slide .price-wrap {
      margin-top: -20px; }
      section.main-banner .swiper-slide .price-wrap span {
        font-size: 13px; }
      section.main-banner .swiper-slide .price-wrap .price {
        display: block;
        line-height: 1;
        margin-top: -15px;
        position: relative;
        font-size: 100%;
        padding-left: 5%; }
        section.main-banner .swiper-slide .price-wrap .price sup {
          font-size: 60%;
          position: absolute; }
          section.main-banner .swiper-slide .price-wrap .price sup:first-child {
            left: 0;
            top: 0; }
    section.main-banner .swiper-slide .content-text {
      flex: 1;
      display: flex;
      flex-direction: column; }
  section.main-banner .sidebanner {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem; }
    section.main-banner .sidebanner .hot-item {
      display: flex;
      background-color: #f5f5f5;
      box-sizing: border-box;
      align-items: center;
      padding: 0.5rem; }
      section.main-banner .sidebanner .hot-item img {
        display: block;
        height: auto;
        width: 40%; }
      section.main-banner .sidebanner .hot-item .text-wrap {
        padding-left: 2rem; }
        section.main-banner .sidebanner .hot-item .text-wrap .ads-desc {
          text-transform: uppercase;
          font-size: 17px;
          font-weight: 300;
          line-height: 1.3; }
        section.main-banner .sidebanner .hot-item .text-wrap .ads-act {
          font-weight: bold; }
          section.main-banner .sidebanner .hot-item .text-wrap .ads-act i {
            color: #fed700;
            display: inline-block;
            margin-left: 5px;
            font-size: 17px; }
        section.main-banner .sidebanner .hot-item .text-wrap .sell-act .up-to {
          display: inline-block;
          line-height: 1;
          width: 20px; }
        section.main-banner .sidebanner .hot-item .text-wrap .sell-act .num {
          font-size: 35px;
          line-height: 1; }
        section.main-banner .sidebanner .hot-item .text-wrap .sell-act sup {
          vertical-align: top; }
        section.main-banner .sidebanner .hot-item .text-wrap .sell-act i {
          color: #fed700;
          display: inline-block;
          margin-left: 5px;
          font-size: 17px; }

@media screen and (max-width: 1300px) {
  section.main-banner .banner-content {
    grid-template-columns: 1fr; }
  section.main-banner .swiper-slide {
    height: 400px; }
  section.main-banner .sidebanner {
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr); }
    section.main-banner .sidebanner .hot-item img {
      width: 30%; }
    section.main-banner .sidebanner .hot-item .text-wrap {
      padding-left: 1rem; } }
@media screen and (max-width: 780px) {
  section.main-banner .swiper-slide {
    font-size: 7vw;
    height: 50vw; }
  section.main-banner .sidebanner {
    display: flex;
    overflow: scroll; }
    section.main-banner .sidebanner .hot-item {
      min-width: 100%;
      padding: 2rem 1rem; }
      section.main-banner .sidebanner .hot-item:not(:last-child) {
        margin-right: 15px; }
      section.main-banner .sidebanner .hot-item .text-wrap {
        padding-left: 2rem; } }
@media screen and (max-width: 400px) {
  section.main-banner .swiper-slide {
    font-size: 8vw; }
    section.main-banner .swiper-slide .price-wrap .price {
      margin-top: -10px;
      margin-bottom: -10px; } }
section.limited {
  margin: 3rem 0;
  background: #f9f9f9;
  padding: 3rem 0; }
  section.limited .offer-timer .offer-icon {
    font-size: 130px;
    line-height: 1; }
  section.limited .offer-timer .time-wrap {
    display: flex; }
    section.limited .offer-timer .time-wrap .unit-wrap {
      display: inline-block;
      margin-right: 1rem;
      font-size: 8px;
      text-align: center;
      padding: 15px 5px;
      line-height: 1;
      border: 2px solid #fed700; }
      section.limited .offer-timer .time-wrap .unit-wrap span {
        font-size: 25px;
        display: block; }
  section.limited .container {
    display: flex; }
  section.limited .carousel-wrapper {
    width: 80%; }
  section.limited .limited-wrapper {
    width: 20%;
    padding-right: 20px;
    max-width: 280px;
    box-sizing: border-box; }

@media screen and (max-width: 1024px) {
  section.limited .container {
    flex-direction: column; }
  section.limited .carousel-wrapper {
    width: 100%; }
  section.limited .limited-wrapper {
    width: 100%;
    max-width: unset;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0; }
  section.limited .time-wrap {
    justify-content: center; } }
section.products {
  margin: 3rem 0; }
  section.products .product-cate-wrapper {
    display: grid;
    grid-template-columns: 220px auto 60%; }
  section.products .cate-list {
    box-sizing: border-box;
    padding-right: 20px; }
    section.products .cate-list li {
      display: block; }
      section.products .cate-list li:not(:last-child) {
        border-bottom: 1px solid #ddd; }
      section.products .cate-list li a {
        display: block;
        padding: 7px 15px; }
        section.products .cate-list li a:hover {
          font-weight: bold; }
  section.products .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 1rem;
    margin-top: 10px; }
    section.products .products-grid .card-product {
      position: relative; }
      section.products .products-grid .card-product:not(:last-child)::after {
        content: "";
        background-color: #ddd;
        height: 80%;
        right: 0;
        top: 40px;
        width: 1px;
        position: absolute; }
  section.products .banner-wrapper {
    box-sizing: border-box;
    padding-right: 10px;
    width: auto; }
    section.products .banner-wrapper img {
      height: auto;
      max-width: 360px;
      width: 100%;
      display: block; }
  section.products .large-card {
    margin-top: 10px;
    margin-right: 15px; }
    section.products .large-card .hover-wrap {
      position: relative;
      transform: translateY(0);
      box-shadow: unset; }

@media screen and (max-width: 1400px) {
  section.products .product-cate-wrapper {
    grid-template-columns: auto 60%; }
  section.products .cate-list {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 1rem; }
    section.products .cate-list li {
      white-space: nowrap;
      margin-right: 1rem; }
      section.products .cate-list li:not(:last-child) {
        border-bottom: 0; }
  section.products .products-grid {
    grid-template-columns: repeat(3, 1fr); }
  section.products .large-card .hover-wrap {
    display: none !important; } }
@media screen and (max-width: 900px) {
  section.products .product-cate-wrapper {
    display: block; }
  section.products .banner-wrapper {
    padding: 0; }
  section.products .cate-list {
    grid-column-start: 1;
    grid-column-end: 2; } }
@media screen and (max-width: 600px) {
  section.products .products-grid {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 425px) {
  section.products .products-grid {
    grid-template-columns: 1fr; } }
section.top-cate {
  background-color: #f9f9f9;
  margin: 3rem 0;
  padding: 3rem 0; }
  section.top-cate .category-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem; }
  section.top-cate .category-wrapper {
    display: block;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease-in-out; }
    section.top-cate .category-wrapper:hover {
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); }
    section.top-cate .category-wrapper .category-link {
      width: 100%;
      height: 91px;
      display: flex;
      overflow: hidden;
      align-items: center; }
      section.top-cate .category-wrapper .category-link img {
        width: 40%;
        transform: scale(1.05) rotate(-15deg);
        height: auto;
        margin-right: 15px; }
      section.top-cate .category-wrapper .category-link p {
        width: 60%;
        box-sizing: border-box;
        padding-right: 10px; }

@media screen and (max-width: 1024px) {
  section.top-cate .category-list {
    grid-template-columns: repeat(2, 1fr); }
  section.top-cate .category-wrapper .category-link {
    height: auto;
    padding: 0; }
    section.top-cate .category-wrapper .category-link img {
      transform: rotate(-15deg) scale(0.8); } }
@media screen and (max-width: 500px) {
  section.top-cate .category-list {
    grid-template-columns: 1fr; } }
section.partners .swiper-container {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
section.partners .img-wrapper {
  padding: 0.5rem 0; }
  section.partners .img-wrapper img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    transform: scale(0.9); }
    section.partners .img-wrapper img:hover {
      filter: grayscale(0); }
section.partners .swiper-button-prev:after,
section.partners .swiper-button-next:after {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.342);
  transition: color 0.3s ease;
  font-weight: bold; }
  section.partners .swiper-button-prev:after:hover,
  section.partners .swiper-button-next:after:hover {
    color: #000000; }
section.partners .swiper-button-prev {
  left: 0; }
section.partners .swiper-button-next {
  right: 0; }

section.widget {
  margin: 3rem 0; }
  section.widget .column-title {
    display: block;
    font-size: 20px;
    position: relative;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd; }
    section.widget .column-title::before {
      content: "";
      position: absolute;
      width: 60%;
      height: 2px;
      min-width: 40px;
      max-width: 100px;
      background: #fed700;
      bottom: -1px;
      left: 0; }
  section.widget .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem; }
  section.widget .banner img {
    height: auto; }

@media screen and (max-width: 1200px) {
  section.widget .container {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 768px) {
  section.widget .container {
    grid-template-columns: 1fr; }
  section.widget .banner {
    display: none; } }
section.signup {
  background: #fed700;
  padding: 1rem 0; }
  section.signup .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    section.signup .container .content {
      color: #333e48;
      flex: 1; }
      section.signup .container .content h3 {
        font-size: 20px;
        font-weight: 400;
        display: inline-block; }
        section.signup .container .content h3 i {
          font-size: 30px;
          margin-right: 10px; }
      section.signup .container .content span {
        margin-left: 30px; }
    section.signup .container form {
      flex: 1;
      padding-left: 60px; }
      section.signup .container form input {
        color: #818181; }
        section.signup .container form input::placeholder {
          color: #818181; }

@media screen and (max-width: 1340px) {
  section.signup .container .content h3 {
    display: block;
    margin-bottom: 0.5rem; }
  section.signup .container .content span {
    margin-left: 0; } }
@media screen and (max-width: 850px) {
  section.signup .container {
    flex-direction: column; }
    section.signup .container .content {
      flex: 1;
      margin-bottom: 1rem; }
    section.signup .container form {
      flex: 1;
      padding-left: 0;
      width: 100%; } }
@media screen and (max-width: 425px) {
  section.signup {
    display: none; } }
#footer {
  background: #ffffff;
  color: #333e48; }
  #footer a {
    color: #333e48; }
  #footer li {
    display: block; }
  #footer .footer-content {
    background-color: #f8f8f8;
    padding: 3rem 0; }
    #footer .footer-content .container {
      display: flex;
      align-items: center; }
  #footer .footer-contact {
    flex: 1;
    padding-right: 20px; }
    #footer .footer-contact .media {
      display: flex;
      align-items: center;
      margin: 1rem 0; }
      #footer .footer-contact .media i {
        font-size: 65px;
        margin-right: 15px; }
    #footer .footer-contact .socials {
      display: flex; }
      #footer .footer-contact .socials a {
        display: inline-block;
        margin-right: 20px; }
  #footer .footer-menu {
    flex: 1;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem; }
    #footer .footer-menu .list-title {
      font-size: 16px;
      font-weight: bold;
      display: block;
      margin-bottom: 1.5rem; }
  #footer .copyright {
    background: #eaeaea; }
    #footer .copyright .container {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #footer .copyright .container span {
        display: flex; }
    #footer .copyright .img-wrapper {
      width: auto; }

@media screen and (max-width: 1024px) {
  #footer .footer-content .container {
    flex-direction: column;
    align-items: flex-start; }
  #footer .footer-contact {
    padding-right: 0; }
  #footer .footer-menu {
    padding-left: 0;
    margin-top: 2rem; } }
@media screen and (max-width: 768px) {
  #footer .footer-menu {
    grid-template-columns: 1fr 1fr; }
  #footer .copyright .container {
    flex-direction: column;
    justify-content: center; }
  #footer .copyright .img-wrapper {
    margin-top: 1rem; } }
@media screen and (max-width: 425px) {
  #footer .footer-contact .media {
    display: block; }
  #footer .footer-contact .socials a {
    margin-right: 15px; }
  #footer .footer-menu {
    grid-template-columns: 1fr; } }

/*# sourceMappingURL=main.css.map */
