section.about {
  background-color: #f9f9f9;
  .section-title {
    margin-bottom: 0;
  }
  .about__intro {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;

    .intro-img {
      width: auto;
      height: 200px;
      max-width: 100%;
    }

    .intro-desc {
      line-height: 1.7;
      padding-top: 1rem;
      font-size: 1rem;
      width: 450px;
    }
  }

  .service-list {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    .service-item {
      display: flex;

      .service-icon {
        max-width: 40px;
        max-height: 40px;
        width: 40px;
        height: 40px;
        margin-right: 1.2rem;
      }

      .service-title {
        margin-top: 0;
        margin-bottom: 0.7rem;
        text-transform: uppercase;
      }

      .service-desc {
        @extend .desc-txt;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  section.about {
    .service-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 700px) {
  section.about {
    .about__intro {
      flex-direction: column;
      .intro-img {
        margin-top: 3rem;
      }

      .intro-desc {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  section.about {
    .service-list {
      grid-template-columns: 1fr;
    }
  }
}
