.btn {
  padding: 0.6em 1.5em;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.3s ease;
}

.btn-action {
  @extend .btn;
  border: 1px solid $primary;
  background-color: rgba(241, 72, 51, 0.9);
  cursor: pointer;
  color: $white;
  padding: 0.6em 1.5em;
  font-size: 1rem;
  &:hover {
    background-color: $strong-primary;
  }
  &:active {
    background-color: $blue;
  }
}

.btn-default {
  @extend .btn;
  border: 1px solid #666666;
  color: #666666;
  background-color: $white;
  &:hover {
    border-color: $primary;
    color: $primary;
  }
}

.btn-dark {
  @extend .btn;
  background-color: #696969;
  color: $white;
  border: 1px solid #555;
  &:hover {
    background-color: #555;
  }
}

.btn-light {
  @extend .btn;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  background-color: rgba(255, 255, 255, 0.05);
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
