.line {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #ff7564;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.line-white {
  @extend .line;
  background-color: #9e9e9e;
}
