.header {
  position: relative;
  color: $white;
  height: 600px;
  .header-bg {
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: -1;
    top: 0;
    left: 0;
  }
  a {
    color: $white;
  }
  .header__contact {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.7rem;
    .social-icon {
      font-size: 0.9rem;
      display: inline-block;
      margin: 0 10px;
    }
    .contact-info {
      transform: translateX(2rem);
    }
  }

  .header__nav {
    padding-top: 1.5rem;
    @extend .container;
    display: grid;
    grid-template-columns: 100px auto 1fr;
    grid-gap: 20px;
    align-items: center;
    .logo {
      display: block;
      width: 100px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .nav__links {
      a {
        font-size: 0.9rem;
      }
      i {
        font-size: 0.4rem;
        color: $light-gray;
        display: inline-block;
        margin: 0 8px;
      }
    }

    .nav__interact-wrapper {
      display: flex;
      padding-left: 30px;
      align-items: center;
      box-sizing: border-box;
      .search-form {
        input[type="text"] {
          float: left;
          width: 100px;
          box-sizing: border-box;
          height: 30px;
          padding-left: 5px;
          border: 0;
        }
        button[type="submit"] {
          @extend .btn-primary;
          padding: 0;
          height: 30px;
          width: 30px;
          line-height: 30px;
          font-size: 0.8rem;
        }
      }
      .header__cart {
        padding-left: 7px;
        box-sizing: border-box;
        .cart {
          display: inline-block;
          position: relative;
          margin-left: 7px;
          font-size: 1rem;
          .badge {
            position: absolute;
            font-size: 0.6rem;
            padding: 2px 3px;
            line-height: 1;
            z-index: 10;
            top: -4px;
            right: -6px;
            background-color: $primary;
            color: $black;
            border-radius: 50%;
          }
        }
      }
    }
    #toggle-nav-btn {
      display: none;
      padding: 10px 15px;
    }
  }

  .swiper-container {
    width: 100%;
    height: auto;
  }
  .swiper-slide {
    background: transparent;
    padding-top: 2rem;
    .header-slide {
      @extend .container;
      display: flex;
      .slide-content {
        flex: 1;
        width: 50%;
        padding-right: 1rem;
        .beef-img {
          display: block;
          width: 110px;
          height: 110px;
        }
        .slide-title {
          font-size: 3.5rem;
          margin-bottom: 0;
          margin-top: 1em;
          line-height: 1;
        }
        .slide-desc {
          margin: 1.5rem 0;
        }
      }

      .header-banner {
        width: 400px;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .header {
    .header__nav {
      display: flex;
      justify-content: space-between;
      #toggle-nav-btn {
        display: block;
      }
      .nav__links {
        display: none;
      }
      .nav__interact-wrapper {
        display: none;
      }
    }
  }
  .header .header__contact .contact-info {
    transform: none;
  }
}

@media screen and (max-width: 700px) {
  .header {
    height: 520px;
    .swiper-slide {
      .header-slide {
        .header-banner {
          z-index: -1;
          position: absolute;
          bottom: 0;
          right: -20px;
          opacity: 0.2;
        }
      }
    }
  }
}
