section.menu {
  background: url("../images/new-parallax-1.jpg") no-repeat center;
  background-size: cover;
  margin-top: 10rem;
  .swiper-wrapper {
    .swiper-slide {
      background: $white;
    }
    .menu-item {
      text-align: center;
      &:hover {
        .food-title {
          color: $primary;
          transition: color 0.3s ease;
        }
      }
      .item-header {
        position: relative;
        img {
          width: 100%;
          height: 220px;
        }
        .price {
          padding: 10px;
          font-size: 1.2rem;
          font-weight: bold;
          position: absolute;
          border-radius: 50%;
          background: $primary;
          text-align: center;
          bottom: -15px;
          left: 50%;
          z-index: 10;
          transform: translateX(-50%);
        }

        .badge {
          position: absolute;
          top: 1rem;
          left: 1rem;
          padding: 3px 7px;
          text-transform: uppercase;
          background: $primary;
          z-index: 10;
          font-size: 0.6rem;
          font-weight: bold;
        }
      }
      .item-body {
        padding: 15px 10px;
        .food-title {
          text-transform: uppercase;
        }
      }
    }
  }
}
