.sans-serif {
  font-family: "Fjalla One", sans-serif;
}

.primary-text {
  color: $primary;
}

.desc-text {
  font-size: 1rem;
  color: $gray;
}

.hand-write {
  font-family: "Shadows Into Light Two", cursive;
}
