.card {
  .img-wrapper {
    width: 100%;
    margin-bottom: 1.2rem;
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-header {
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .card-body {
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
