.text-center {
  text-align: center !important;
}

.text-white {
  color: $white;
}

.text-dark {
  color: $dark;
}

.lato {
  font-family: "Lato";
}

.intro-wrapper {
  width: 80%;
  min-width: 200px;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .intro-wrapper {
    width: 100%;
  }
}
