@import url("https://fonts.googleapis.com/css?family=Lora:400,400i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap");
html {
  font-size: 14px; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.57;
  font-family: "Karla";
  color: #4c4c4c; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

a {
  text-decoration: none;
  color: #4c4c4c; }

a:hover {
  text-decoration: none;
  color: #1daaa2; }

button {
  border: 0; }

button:focus,
button:active,
input:active,
input:focus,
textarea:active,
textarea:focus,
option:active,
option:focus,
select:active,
select:focus {
  outline: none; }

button[disabled],
input[disabled] {
  cursor: default; }

select {
  font-family: inherit; }

textarea {
  resize: vertical;
  font-family: inherit; }

input::placeholder {
  font-family: inherit; }

input[type="checkbox"] {
  margin: 0;
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1; }

h1 {
  font-size: 3.5rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }

h2 {
  font-size: 2.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.86rem;
  margin-top: 0;
  margin-bottom: 0; }

h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0; }

h5 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0; }

h6 {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0; }

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd; }

p {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1rem; }

b,
strong {
  font-weight: bold; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1rem; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }

li {
  display: inline-block; }

.clean {
  clear: both; }

iframe {
  border: 0; }

.interact-link, #header .contact .nav-link, .header__nav .header-interact .login-btn a {
  position: relative;
  padding-bottom: 0.2rem; }
  .interact-link:hover::before, #header .contact .nav-link:hover::before, .header__nav .header-interact .login-btn a:hover::before {
    transform: scale(1);
    transform-origin: left; }
  .interact-link::before, #header .contact .nav-link::before, .header__nav .header-interact .login-btn a::before {
    content: "";
    transition: transform 0.3s ease;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #dddddd;
    left: 0;
    transform-origin: right;
    transform: scale(0); }

@keyframes faded {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes right-to-left {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }
.container, section.products .product-grid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5.7rem;
  padding-right: 5.7rem;
  max-width: 1200px; }

.section-p {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.flexbox {
  display: flex; }

.lora, .product-card .card-body .card-title {
  font-family: "Lora", Arial, Helvetica, sans-serif; }

.caveat {
  font-family: "Caveat", cursive; }

.text-center {
  text-align: center !important; }

.text-black {
  color: #000000; }

.text-white {
  color: #ffffff; }

.intro-wrapper {
  position: relative;
  width: 60%;
  min-width: 200px;
  margin: 0 auto 2rem auto; }
  .intro-wrapper .sub-title {
    margin-bottom: 1rem;
    color: #9b9b9b;
    line-height: 1; }
  .intro-wrapper .section-title {
    line-height: 1; }
  .intro-wrapper .title-seperate {
    position: relative;
    width: 100px;
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem; }
    .intro-wrapper .title-seperate::before {
      content: "";
      position: absolute;
      background-color: #dcdcdc;
      height: 0.5px;
      width: 100%;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
      left: 0; }
    .intro-wrapper .title-seperate span {
      font-weight: lighter;
      font-size: 12px;
      padding: 0 10px;
      color: #dcdcdc;
      background: #ffffff; }
  .intro-wrapper .desc-text {
    display: block;
    width: 65%;
    margin: 0 auto;
    font-size: 16px; }
    .intro-wrapper .desc-text .your-store-link {
      color: #1daaa2;
      transition: color 0.3s ease;
      text-decoration: underline; }
      .intro-wrapper .desc-text .your-store-link:hover {
        color: #000000;
        text-decoration: underline; }

.badge-container {
  position: relative; }
  .badge-container .badge-text {
    position: absolute;
    z-index: 20;
    color: #ffffff;
    background-color: #4c4c4c;
    padding: 3px 6px;
    font-size: 8px;
    line-height: 1;
    top: -15px;
    right: -20px; }
    .badge-container .badge-text::before {
      content: "";
      position: absolute;
      top: 60%;
      left: 20%;
      transform: translateX(-50%);
      border: transparent 5px solid;
      border-left-color: #4c4c4c;
      z-index: -1; }
    .badge-container .badge-text.danger-badge {
      background-color: #d41212; }
      .badge-container .badge-text.danger-badge::before {
        border-left-color: #d41212; }
    .badge-container .badge-text.primary-badge {
      background-color: #1daaa2; }
      .badge-container .badge-text.primary-badge::before {
        border-left-color: #1daaa2; }
    .badge-container .badge-text.hot-badge {
      background-color: #ef7c0a; }
      .badge-container .badge-text.hot-badge::before {
        border-left-color: #ef7c0a; }

.close-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 15px;
  color: #fff;
  z-index: 10;
  font-size: 0; }
  .close-btn::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 3px;
    right: 0;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    background-color: #fff;
    transform: rotate(45deg);
    transition: transform 0.25s ease-in-out; }
  .close-btn::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 3px;
    right: 0;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    background-color: #fff;
    transform: rotate(-45deg);
    transition: transform 0.25s ease-in-out; }
  .close-btn:hover::before {
    transform: rotate(0); }
  .close-btn:hover::after {
    transform: rotate(0); }

.btn, .btn-white {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: 2px solid #000000;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease; }
  .btn:hover, .btn-white:hover {
    color: #ffffff;
    background-color: #232323;
    border-color: #232323; }

.btn-white {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff; }
  .btn-white:hover {
    color: #ffffff;
    border-color: #000000;
    background-color: #000000; }

.btn-outline {
  background: transparent;
  border: 2px solid #000000;
  padding: 0.8rem 2rem;
  display: inline-block;
  transition: color 0.3s ease, background 0.3s ease;
  color: #000000;
  cursor: pointer; }
  .btn-outline.btn-white {
    border-color: #ffffff;
    color: #ffffff; }
    .btn-outline.btn-white:hover {
      background: #ffffff;
      color: #000000; }
  .btn-outline:hover {
    background: #000000;
    color: #ffffff; }

.btn-primary {
  background-color: #1daaa2;
  color: #ffffff;
  border: 2px solid #1daaa2;
  padding: 0.8rem 2rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease; }
  .btn-primary:hover {
    color: #ffffff;
    background-color: #17928c;
    border-color: #17928c; }

.fb-button, .gg-button {
  padding: 0.8rem 1.5rem;
  display: block;
  width: 100%;
  background-color: #3b5998;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  position: relative;
  margin-bottom: 1rem; }
  .fb-button .logo-wrapper, .gg-button .logo-wrapper {
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
    position: absolute;
    font-size: 28px; }
  .fb-button:hover, .gg-button:hover {
    background-color: #314a7e; }

.gg-button {
  background-color: #4285f4; }
  .gg-button .logo-wrapper {
    background: #ffffff;
    width: 28px;
    height: 28px; }
  .gg-button:hover {
    background-color: #2a75ee; }

.d-block {
  display: block !important;
  width: 100%; }

#top-btn {
  background-color: #fff;
  border: 1px solid black;
  color: black;
  position: fixed;
  transition: all 0.3s ease;
  border-radius: 50%;
  bottom: 20px;
  right: 60px;
  z-index: 99;
  cursor: pointer;
  opacity: 0.95;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  box-sizing: border-box;
  display: none; }
  #top-btn:hover {
    background-color: #1daaa2;
    color: white; }
  #top-btn.block {
    display: block; }

.tooltip {
  position: relative; }
  .tooltip .tooltip-text {
    white-space: nowrap;
    min-width: 50px;
    display: none;
    position: absolute;
    color: #ffffff;
    background: #000000;
    font-size: 0.8rem;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    line-height: 1;
    padding: 5px 7px;
    text-align: center;
    border: 0;
    border-radius: 3px; }
    .tooltip .tooltip-text::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-top: #000000 5px solid;
      border-left: transparent 5px solid;
      border-right: transparent 5px solid;
      border-bottom: transparent 5px solid; }
    .tooltip .tooltip-text.left {
      top: 50%;
      left: 0;
      transform: translate(calc(-100% - 7px), -50%); }
      .tooltip .tooltip-text.left::after {
        border-color: transparent;
        border-left-color: #000000;
        left: unset;
        bottom: unset;
        top: 50%;
        right: -10px;
        transform: translateY(-50%); }
  .tooltip:hover .tooltip-text {
    display: block;
    animation: faded 0.4s; }

.product-card .card-header {
  position: relative;
  overflow: hidden; }
  .product-card .card-header:hover .img-wrapper {
    opacity: 0;
    visibility: hidden; }
  .product-card .card-header:hover .hover-img {
    opacity: 1;
    visibility: visible; }
  .product-card .card-header:hover .quickshop-btn {
    transform: translateY(0); }
  .product-card .card-header .img-wrapper {
    width: 100%;
    height: 350px;
    display: block;
    transition: all 0.3s ease-in; }
    .product-card .card-header .img-wrapper img {
      width: 100%;
      height: 100%; }
  .product-card .card-header .hover-img {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in; }
  .product-card .card-header .interact-list {
    position: absolute;
    z-index: 15;
    top: 10px;
    right: 15px;
    display: flex;
    flex-direction: column; }
    .product-card .card-header .interact-list li {
      margin: 0;
      margin-bottom: 1rem; }
      .product-card .card-header .interact-list li a:hover {
        color: #000000; }
  .product-card .card-header .quickshop-btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: 30;
    transition: all 0.3s ease; }
  .product-card .card-header .card-badge {
    color: #ffffff;
    background-color: #000000;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    display: block;
    position: absolute;
    z-index: 50;
    top: 5px;
    left: 10px; }
    .product-card .card-header .card-badge.green-badge {
      background-color: #448d44; }
    .product-card .card-header .card-badge.primary-badge {
      background-color: #1daaa2; }
.product-card .card-body {
  padding: 1rem 0; }
  .product-card .card-body .price {
    color: #4c4c4c; }
    .product-card .card-body .price .off-price {
      font-size: 14px;
      color: #bdbdbd;
      text-decoration: line-through; }
    .product-card .card-body .price .sell-price {
      color: #1daaa2; }
  .product-card .card-body .colors li {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    background: #000000;
    margin: 0 0.2rem; }
    .product-card .card-body .colors li.blue {
      background: #1b9bb4; }
    .product-card .card-body .colors li.brown {
      background: #ab6927; }
    .product-card .card-body .colors li.red {
      background: #db4433; }
    .product-card .card-body .colors li.yello {
      background: #f7ea21; }
  .product-card .card-body .card-title {
    font-size: 15px;
    color: #252222; }
    .product-card .card-body .card-title:hover {
      color: #252525; }

.news-card:hover .card-header .img-wrapper::before {
  opacity: 1; }
.news-card:hover .card-header .img-wrapper img {
  transform: scale(1.1); }
.news-card .card-header {
  position: relative; }
  .news-card .card-header .img-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden; }
    .news-card .card-header .img-wrapper::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all 0.3s ease;
      transition-delay: 0.2s;
      opacity: 0;
      z-index: 1; }
    .news-card .card-header .img-wrapper img {
      display: block;
      height: 100%;
      transition: transform 0.6s ease-in-out;
      width: 100%; }
  .news-card .card-header .date {
    position: absolute;
    background-color: #ffffff;
    display: block;
    padding: 0.5rem 1rem;
    color: #000000;
    top: 10px;
    left: 10px;
    text-align: center;
    z-index: 5; }
    .news-card .card-header .date .day {
      font-size: 24px;
      margin: 0;
      line-height: 1; }
    .news-card .card-header .date .month {
      margin: 0;
      line-height: 1; }
  .news-card .card-header .tags {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.2rem 1rem;
    background-color: #179a94;
    z-index: 5; }
    .news-card .card-header .tags p {
      margin: 0;
      color: #ffffff; }
    .news-card .card-header .tags a {
      color: #ffffff;
      line-height: 1; }
      .news-card .card-header .tags a:hover {
        text-decoration: underline; }
.news-card .card-body {
  text-align: center; }
  .news-card .card-body .news-title {
    font-size: 22px;
    color: #000000;
    font-family: "Lora";
    transition: color 0.3s ease;
    display: block;
    margin: 0.5rem 0; }
    .news-card .card-body .news-title:hover {
      color: #1daaa2; }
  .news-card .card-body .author-wrapp {
    margin-bottom: 1rem; }
    .news-card .card-body .author-wrapp .author {
      font-family: "Lato"; }
      .news-card .card-body .author-wrapp .author:after {
        content: "/";
        display: inline-block;
        margin: 0 0.3rem; }
      .news-card .card-body .author-wrapp .author a {
        color: #179a94; }
        .news-card .card-body .author-wrapp .author a:hover {
          color: #1daaa2;
          text-decoration: underline; }
    .news-card .card-body .author-wrapp .comment a {
      color: #4c4c4c; }
      .news-card .card-body .author-wrapp .comment a:hover {
        color: #787878;
        text-decoration: underline; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999;
  opacity: 0;
  visibility: hidden; }
  .modal .right-sidebar {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
    height: 100vh;
    overflow: auto; }
    .modal .right-sidebar.on-open {
      transform: translateX(0); }
  .modal.open {
    opacity: 1;
    visibility: visible; }

@media screen and (max-width: 768px) {
  .modal .modal-content {
    width: 80%; }
    .modal .modal-content .modal-title {
      font-size: 1.3rem; } }
@media screen and (max-width: 550px) {
  .modal .modal-content {
    width: 95%; } }
#header {
  position: relative; }
  #header .contact {
    padding: 1rem 4rem;
    background-color: #1daaa2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 13px; }
    #header .contact .space::after {
      content: "|";
      margin: 0 0.3rem;
      color: #dddddd44; }
    #header .contact .nav-link {
      font-size: 12px;
      color: #ffffff; }

.header__nav {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 0 4rem;
  background: #ffffff; }
  .header__nav .nav-link {
    color: #000000;
    padding: 0 0.7rem;
    transition: color 0.3s ease; }
    .header__nav .nav-link:hover {
      color: #1daaa2; }
  .header__nav .nav-list .dropdown-handle > a:nth-child(1) {
    position: relative;
    display: flex;
    align-items: center; }
    .header__nav .nav-list .dropdown-handle > a:nth-child(1) .fa-chevron-down {
      font-size: 0.5rem;
      opacity: 0.7;
      margin-left: 0.3rem; }
  .header__nav .nav-list .dropdown-handle:hover .fullwidth-dropdown {
    top: 100%; }
  .header__nav .nav-list .dropdown-handle .fullwidth-dropdown {
    width: 100%;
    background-color: #ffffff;
    top: 120%;
    left: 0;
    padding: 2rem 0; }
    .header__nav .nav-list .dropdown-handle .fullwidth-dropdown .shop-content {
      display: grid;
      grid-template-columns: repeat(5, 1fr); }
      .header__nav .nav-list .dropdown-handle .fullwidth-dropdown .shop-content .content-wrapper {
        padding: 0 2rem; }
        .header__nav .nav-list .dropdown-handle .fullwidth-dropdown .shop-content .content-wrapper:last-child {
          padding-right: 0; }
      .header__nav .nav-list .dropdown-handle .fullwidth-dropdown .shop-content .content-footer {
        margin-top: 3rem;
        border-right: 1px solid #ddd; }
        .header__nav .nav-list .dropdown-handle .fullwidth-dropdown .shop-content .content-footer .service-title {
          color: #000000;
          margin-bottom: 0.5rem;
          display: block;
          line-height: 1; }
    .header__nav .nav-list .dropdown-handle .fullwidth-dropdown li {
      display: block;
      margin-top: 1rem; }
    .header__nav .nav-list .dropdown-handle .fullwidth-dropdown .nav-link {
      height: unset;
      line-height: 1.57;
      transition: all 0.3s ease;
      display: block; }
      .header__nav .nav-list .dropdown-handle .fullwidth-dropdown .nav-link:hover {
        transform: translateX(5px); }
    .header__nav .nav-list .dropdown-handle .fullwidth-dropdown .product-card .card-title {
      margin: 0; }
    .header__nav .nav-list .dropdown-handle .fullwidth-dropdown .product-card .interact-list li {
      margin: 0;
      margin-bottom: 1rem; }
    .header__nav .nav-list .dropdown-handle .fullwidth-dropdown .product-card .colors li {
      display: inline-block; }
  .header__nav .nav-list .nav-item.active .nav-link {
    color: #1daaa2; }
  .header__nav .nav-list .nav-item > a {
    display: inline-block;
    height: 95px;
    line-height: 95px; }
  .header__nav .logo-wrapper {
    display: flex;
    align-items: center;
    width: 15%;
    min-width: 150px; }
    .header__nav .logo-wrapper img {
      width: 100%;
      height: auto; }
  .header__nav .header-interact {
    display: flex; }
    .header__nav .header-interact .login-btn {
      display: block;
      border-right: 2px solid #dddddd75;
      margin-right: 1.5rem;
      padding-right: 1.5rem;
      display: flex;
      align-items: center;
      height: 95px; }
      .header__nav .header-interact .login-btn a {
        height: unset;
        line-height: 1.5; }
    .header__nav .header-interact .icon-list {
      display: flex;
      align-items: center; }
      .header__nav .header-interact .icon-list li {
        margin-right: 1rem; }
        .header__nav .header-interact .icon-list li a {
          color: #000000;
          line-height: 1; }
          .header__nav .header-interact .icon-list li a i {
            font-size: 1.1rem; }
        .header__nav .header-interact .icon-list li .fav-icon {
          position: relative;
          font-size: 1.3rem; }
          .header__nav .header-interact .icon-list li .fav-icon::before {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            opacity: 1;
            animation: faded 0.3s ease; }
          .header__nav .header-interact .icon-list li .fav-icon::after {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            opacity: 1;
            font-weight: bold;
            display: none;
            animation: faded 0.3s ease; }
          .header__nav .header-interact .icon-list li .fav-icon:hover::before {
            display: none; }
          .header__nav .header-interact .icon-list li .fav-icon:hover::after {
            display: inline-block; }
          .header__nav .header-interact .icon-list li .fav-icon .badge {
            position: absolute;
            top: -6px;
            right: -10px;
            height: 15px;
            width: 15px;
            font-size: 10px;
            border-radius: 50%;
            background-color: #1daaa2;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            z-index: 5; }
        .header__nav .header-interact .icon-list li .search-toggle {
          font-size: 1.3rem;
          position: relative; }
          .header__nav .header-interact .icon-list li .search-toggle i {
            font-size: 1.3rem; }

.dropdown-content {
  opacity: 1;
  visibility: visible;
  position: absolute;
  transition: all 0.3s ease;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1); }
  .dropdown-content:hover .dropdown-content {
    opacity: 1;
    visibility: visible; }

.dropdown-handle:hover .dropdown-content {
  opacity: 1;
  visibility: visible; }

#search-wrapper {
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  z-index: 370;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  align-items: stretch;
  transition: opacity 0.25s ease-in-out, visible 0.2s ease-in, top 0.3s ease;
  padding-top: 2rem; }
  #search-wrapper.open {
    opacity: 1;
    visibility: visible; }
  #search-wrapper .form-group {
    position: relative; }
    #search-wrapper .form-group .close-btn {
      width: 40px;
      height: 122px; }
  #search-wrapper .search-input {
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-left: 0;
    padding-right: 40px;
    padding-bottom: 0;
    padding-top: 0;
    font-style: italic;
    background-color: transparent;
    font-size: 68px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 120px;
    height: 122px; }

.form-group {
  margin-bottom: 1.5rem; }
  .form-group label {
    margin-bottom: 0.5rem;
    display: block; }

.form-control {
  width: 100%;
  display: block;
  height: 30px;
  padding-left: 10px;
  box-sizing: border-box; }

.login-sidebar {
  box-sizing: border-box;
  width: 340px; }
  .login-sidebar .sidebar-header {
    padding: 2rem 1.5rem;
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    box-sizing: border-box; }
    .login-sidebar .sidebar-header .sidebar-title {
      margin: 0; }
    .login-sidebar .sidebar-header .close {
      cursor: pointer;
      position: relative;
      margin-right: 25px; }
      .login-sidebar .sidebar-header .close::before {
        content: "";
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        right: -25px;
        top: 50%;
        transition: transform 0.3s ease;
        position: absolute; }
      .login-sidebar .sidebar-header .close::after {
        content: "";
        width: 20px;
        height: 2px;
        background-color: #ffffff;
        right: -25px;
        top: 50%;
        transition: transform 0.3s ease;
        position: absolute; }
      .login-sidebar .sidebar-header .close:hover::before {
        transform: rotate(45deg); }
      .login-sidebar .sidebar-header .close:hover::after {
        transform: rotate(-45deg); }
  .login-sidebar .sidebar-body {
    padding: 1rem 1.5rem 0 1.5rem; }
    .login-sidebar .sidebar-body .login-form .form-control {
      padding: 1.4rem 1rem;
      border: 1px solid #ddd; }
      .login-sidebar .sidebar-body .login-form .form-control:focus {
        border: 1px solid #333; }
    .login-sidebar .sidebar-body .space-title {
      position: relative;
      text-align: center;
      font-weight: 600;
      color: #000000;
      margin: 1.2rem 0; }
      .login-sidebar .sidebar-body .space-title span {
        padding: 0 1rem;
        position: relative;
        z-index: 30;
        background-color: #ffffff; }
      .login-sidebar .sidebar-body .space-title::before {
        content: "";
        width: 100%;
        background-color: #ddd;
        height: 1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        z-index: 20; }
  .login-sidebar .sidebar-footer {
    padding: 0 1.5rem; }
    .login-sidebar .sidebar-footer hr {
      margin-top: 1rem;
      margin-bottom: 1.5rem; }
    .login-sidebar .sidebar-footer .user-icon {
      display: block;
      font-size: 50px;
      color: #ddd;
      margin-bottom: 1rem; }
    .login-sidebar .sidebar-footer .create-acc-link {
      color: #3e3e3e;
      transition: color 0.3s ease;
      margin-top: 1rem;
      text-decoration: underline;
      display: block; }
      .login-sidebar .sidebar-footer .create-acc-link:hover {
        color: #292929;
        text-decoration: underline; }

.header-banner .swiper-slide {
  height: 600px;
  position: relative; }
  .header-banner .swiper-slide .img-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1; }
    .header-banner .swiper-slide .img-wrapper img {
      width: 100%;
      height: 100%; }
  .header-banner .swiper-slide .swiper-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    max-width: 1200px; }
  .header-banner .swiper-slide.slide-1 .swiper-content {
    z-index: 20; }
    .header-banner .swiper-slide.slide-1 .swiper-content .year-overlay {
      position: absolute;
      font-size: 240px;
      font-weight: lighter;
      letter-spacing: 2px;
      z-index: -1;
      color: rgba(255, 255, 255, 0.4);
      font-family: "Lora";
      top: -130px;
      left: 50px; }
    .header-banner .swiper-slide.slide-1 .swiper-content .swiper-title {
      font-size: 120px;
      line-height: 1;
      margin: 0; }
    .header-banner .swiper-slide.slide-1 .swiper-content .sub-title {
      font-size: 80px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 2rem;
      display: block; }
  .header-banner .swiper-slide.slide-1 .bag-wrapper {
    position: relative;
    width: 100%;
    height: 100%; }
    .header-banner .swiper-slide.slide-1 .bag-wrapper img {
      position: absolute;
      right: 5%;
      top: -30px;
      transform: rotate(10deg);
      z-index: -1; }
  .header-banner .swiper-slide.slide-2 .swiper-content {
    z-index: 20; }
    .header-banner .swiper-slide.slide-2 .swiper-content .year-overlay {
      position: absolute;
      font-size: 240px;
      font-weight: lighter;
      letter-spacing: 2px;
      z-index: -1;
      color: rgba(0, 0, 0, 0.1);
      font-family: "Lora";
      top: -107px;
      left: -23px; }
    .header-banner .swiper-slide.slide-2 .swiper-content .swiper-title {
      font-size: 80px;
      line-height: 1.1;
      font-weight: lighter;
      margin: 0; }
    .header-banner .swiper-slide.slide-2 .swiper-content .text-desc {
      color: #757575;
      font-size: 16px;
      margin-bottom: 1.5rem; }
  .header-banner .swiper-slide.slide-2 .img-wrapper .child-img {
    height: 600px;
    width: 50%;
    left: 50%;
    position: absolute; }
  .header-banner .swiper-slide.slide-3 .swiper-content {
    z-index: 20; }
    .header-banner .swiper-slide.slide-3 .swiper-content .year-overlay {
      position: absolute;
      font-size: 240px;
      font-weight: lighter;
      letter-spacing: 2px;
      z-index: -1;
      color: rgba(255, 255, 255, 0.4);
      font-family: "Lora";
      top: -130px;
      left: 50%;
      transform: translateX(-50%); }
    .header-banner .swiper-slide.slide-3 .swiper-content .swiper-title {
      font-size: 120px;
      line-height: 1;
      margin: 0; }
    .header-banner .swiper-slide.slide-3 .swiper-content .sub-title {
      font-size: 80px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 2rem;
      display: block; }
.header-banner .swiper-btn {
  color: #ffffff;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2); }
  .header-banner .swiper-btn::after {
    font-size: 1rem; }

section.category .grid {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 2.5rem; }
section.category .category-item {
  display: block;
  position: relative;
  overflow: hidden; }
  section.category .category-item.bag-cate {
    grid-row-start: 1;
    grid-row-end: 3; }
  section.category .category-item.watch-cate {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4; }
  section.category .category-item:hover .img-wrapper img {
    transform: scale(1.05); }
  section.category .category-item .img-wrapper {
    width: 100%;
    height: 100%; }
    section.category .category-item .img-wrapper img {
      width: 100%;
      height: 100%;
      display: block;
      transition: transform 0.5s ease-out; }
  section.category .category-item .category-name {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    font-family: "Lora";
    padding: 0.5rem 2rem;
    font-size: 16px;
    font-style: italic;
    box-shadow: 1px 1px 3px rgba(136, 136, 136, 0.19);
    text-align: center;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%); }
section.category .banner {
  text-align: center;
  padding: 1rem 0;
  background: #000000;
  color: #ffffff;
  font-size: 15px; }
  section.category .banner a {
    font-style: 15px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

section.products .swiper-button-next {
  right: 60px;
  color: #000000; }
section.products .swiper-button-prev {
  left: 60px;
  color: #000000; }
section.products .product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem; }
  section.products .product-grid .product-card .card-title {
    border-bottom: 1px solid #dedede;
    display: inline-block; }
  section.products .product-grid .product-card .price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    section.products .product-grid .product-card .price-wrap .swap-wrap {
      position: relative;
      overflow: hidden;
      line-height: 32px;
      height: 32px; }
      section.products .product-grid .product-card .price-wrap .swap-wrap .price {
        transition: transform 0.3s ease;
        display: block;
        font-size: 16px; }
      section.products .product-grid .product-card .price-wrap .swap-wrap .select-btn {
        display: block;
        transition: transform 0.5s ease;
        color: #000000; }
        section.products .product-grid .product-card .price-wrap .swap-wrap .select-btn:hover {
          color: #000000; }
  section.products .product-grid .product-card:hover .price-wrap .swap-wrap .price {
    transform: translateY(-100%); }
  section.products .product-grid .product-card:hover .price-wrap .swap-wrap .select-btn {
    transform: translateY(-100%); }
section.products .banner {
  text-align: center;
  margin-top: 4rem;
  background: url("../images/main-big-baner-8.jpg") no-repeat center;
  background-size: cover;
  padding: 7rem 4.5rem;
  color: #ffffff; }
  section.products .banner .sub-title {
    display: block;
    font-size: 26px; }
  section.products .banner .banner-title {
    font-weight: 400;
    font-size: 58px; }
  section.products .banner .banner-desc {
    width: 33%;
    margin: 0 auto 1.5rem auto; }
  section.products .banner .input-wrapper {
    max-width: 600px;
    margin: 0 auto;
    position: relative; }
    section.products .banner .input-wrapper::before {
      content: "\f0e0";
      font-family: "Font Awesome 5 Free";
      position: absolute;
      left: 5px;
      top: 5px;
      font-size: 1.4rem;
      color: rgba(255, 255, 255, 0.6);
      font-weight: bold; }
    section.products .banner .input-wrapper input {
      height: 43px;
      box-sizing: border-box;
      border: 0;
      background: transparent;
      border-bottom: 1px solid white;
      margin: 0;
      color: white;
      width: 80%;
      float: left;
      padding-left: 30px; }
      section.products .banner .input-wrapper input::placeholder {
        color: rgba(255, 255, 255, 0.6); }
    section.products .banner .input-wrapper .submit-btn {
      float: left;
      width: 19%; }

section.news .news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-bottom: 1.5rem; }
section.news .banner {
  margin-top: 4rem;
  position: relative;
  padding: 4rem 2rem;
  background: url("../images/main-big-baner-7.jpg") no-repeat center center;
  background-size: cover; }
  section.news .banner .btn, section.news .banner .btn-white,
  section.news .banner .btn-outline {
    padding: 0.5rem 1rem;
    line-height: 1;
    font-size: 12px;
    border-width: 1px; }
section.news .banner-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  padding: 2.5rem 3rem;
  background: #ffffff; }
  section.news .banner-content .intro-wrap {
    padding: 0 1.5rem;
    border-right: 1px solid #ddd; }
    section.news .banner-content .intro-wrap .logo-img {
      max-width: 100%; }
    section.news .banner-content .intro-wrap .sub-title {
      color: #676767;
      letter-spacing: 2px; }
  section.news .banner-content .about-wrap {
    padding: 0 1.5rem; }
    section.news .banner-content .about-wrap .sub-title {
      display: block;
      font-size: 22px;
      color: #000000; }
    section.news .banner-content .about-wrap .heart-icon {
      color: #000000;
      font-size: 30px;
      display: block;
      margin: 1rem 0; }

section.about .flexbox {
  align-items: center; }
section.about .about-wrapper {
  width: 50%;
  padding: 0 2rem;
  box-sizing: border-box; }
  section.about .about-wrapper .section-title {
    font-size: 26px;
    font-weight: 400; }
  section.about .about-wrapper .swiper-slide {
    text-align: center;
    padding-bottom: 3rem; }
    section.about .about-wrapper .swiper-slide .avatar {
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 50%; }
    section.about .about-wrapper .swiper-slide .customer-rep {
      margin: 1rem auto;
      width: 80%; }
  section.about .about-wrapper .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
    cursor: pointer; }
  section.about .about-wrapper .swiper-pagination-bullet-active {
    background-color: #000000; }
section.about .gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  flex: 1; }
  section.about .gallery-grid .img-wrapper {
    display: block;
    width: 100%;
    position: relative; }
    section.about .gallery-grid .img-wrapper:hover .overlay {
      opacity: 1; }
      section.about .gallery-grid .img-wrapper:hover .overlay .right-icon {
        transform: translateX(0);
        opacity: 1; }
    section.about .gallery-grid .img-wrapper img {
      width: 100%;
      height: 100%;
      display: block; }
    section.about .gallery-grid .img-wrapper .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.2s ease;
      opacity: 0; }
      section.about .gallery-grid .img-wrapper .overlay .right-icon {
        text-align: center;
        color: #ffffff;
        font-size: 2rem;
        transition: all 0.5s ease;
        transform: translateX(-100%);
        opacity: 0; }
section.about .partners {
  background-color: #f4f4f4;
  padding: 2rem 0;
  margin-top: 5rem; }
  section.about .partners .partner-wrapper {
    display: flex; }
    section.about .partners .partner-wrapper .title {
      font-size: 24px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      color: #1b1919; }
      section.about .partners .partner-wrapper .title::after {
        content: "";
        height: 100%;
        border-left: 2px solid #ddd;
        margin-left: 20px;
        margin-right: 10px; }
    section.about .partners .partner-wrapper .swiper-container {
      width: 100%;
      overflow: hidden; }
      section.about .partners .partner-wrapper .swiper-container img {
        width: 100%;
        height: auto; }
      section.about .partners .partner-wrapper .swiper-container .swiper-slide {
        max-width: calc(100% / 5); }

#footer {
  padding-top: 4rem;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.6); }
  #footer a {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s ease; }
    #footer a:hover {
      color: #fff; }
  #footer .footer-header {
    width: 80%;
    margin: 0 auto 2rem auto; }
    #footer .footer-header .footer-logo {
      max-width: 300px; }
    #footer .footer-header .socials .icon-wrapper {
      font-size: 18px;
      margin: 0 0.5rem;
      display: inline-block; }
  #footer .footer-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-gap: 2rem;
    font-size: 1rem; }
    #footer .footer-body .list-title {
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      position: relative;
      text-transform: uppercase;
      margin-bottom: 1.7rem; }
      #footer .footer-body .list-title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 30px;
        height: 1px;
        background-color: #ffffff; }
    #footer .footer-body .list-content {
      margin-bottom: 1rem; }
      #footer .footer-body .list-content li {
        display: block;
        line-height: 2; }
        #footer .footer-body .list-content li a {
          display: block; }
          #footer .footer-body .list-content li a:hover {
            text-decoration: underline; }
  #footer .copyright {
    margin-top: 3rem;
    padding: 1.6rem 0;
    border-top: 1px solid #ffffff23; }
    #footer .copyright a {
      color: #ffffff; }
      #footer .copyright a:hover {
        text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
